@model CtrlPVALeasing.Models.Tbl_DadosDaVenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_DadosDaVenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.renavam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.renavam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chassi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chassi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_comprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_comprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf_cnpj_comprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf_cnpj_comprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rg_comprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rg_comprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local_comprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local_comprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_comprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_comprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dta_da_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dta_da_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_da_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_da_compra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
