@model IEnumerable<CtrlPVALeasing.Models.Tbl_DadosDaVenda>

@{
    ViewBag.Title = "Index";
}
<br />
<br />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.renavam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chassi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_comprador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf_cnpj_comprador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rg_comprador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.local_comprador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_comprador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dta_da_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor_da_compra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.renavam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chassi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_comprador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpf_cnpj_comprador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rg_comprador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.local_comprador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_comprador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dta_da_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor_da_compra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
