@model IEnumerable<CtrlPVALeasing.Models.Tbl_Situacao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cpf_cnpj_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outrasOper)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cpf_cnpj_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ativa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localizada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outrasOper)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
