@model CtrlPVALeasing.Models.Arm_LiquidadosEAtivos_Contrato
@{
    ViewBag.Title = "Registro de Contrato";
}

<script>
function chamaErro() {
    $(document).ready(function () {
        $("#msgErro").modal();
    });
}
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="jumbotronFundo">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="busca" width="90%">
                        <h2>REGISTRO DE CONTRATO</h2>
                    </td>
                    <td align="right" width="9%">
                        <div id="mudaReset"><input class="btn2 btn-primary-limpar btn-sm" type="reset" name="limpar" value="LIMPAR" /></div>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <a href="~/" class="btn2 btn-primary-menu btn-sm">MENU</a>
                    </td>
                </tr>
            </table>
            <hr />
        </center>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO CONTRATO:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Número do Contrato: </div>
                                 </td>
                                <td>
                                    @*<input class="input-sm-fino" value="@MF.contrato" type="text" name="contrato" size="25" style="text-transform:uppercase" />*@
                                    @Html.EditorFor(model => model.contrato, new { htmlAttributes = new {  @class="input-sm-fino", maxlength="9", id= "numerocontrato" } })
                                    @*@Html.ValidationMessageFor(model => model.contrato, "", new { @class = "text-danger" })*@
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Agência: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["agencia"]" type="text" name="agencia" id="agencia" size="25" maxlength="5" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data de Vencimento: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["dta_vecto_contrato"]" type="text" name="dta_vecto_contrato" id="dta_vecto_contrato" size="20" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data de início: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["dta_inicio_contrato"]" type="text" name="dta_inicio_contrato" id="dta_inicio_contrato" size="25" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data da Baixa: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["data_da_baixa"]" type="text" name="data_da_baixa" id="data_da_baixa" size="20" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data do Último Pagamento: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["dta_ultimo_pagto"]" type="text" name="dta_ultimo_pagto" id="dta_ultimo_pagto" size="20" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Status do Contrato: </div>
                                </td>
                                <td>
                                    <select class="input-sm-ultra-fino2" name="status" id="status">
                                        @{
                                            string[,] strgtc = new string[3, 2] {
                                                {"SELECIONE", "<option class='input-sm-ultra-fino' value=''>SELECIONE</option>"},
                                                {"true", "<option class='input-sm-ultra-fino' value='true'>ATIVO</option>"},
                                                {"false", "<option class='input-sm-ultra-fino' value='false'>LIQUIDADO</option>"},
                                            };

                                            var m = Request["status"] != null ? Request["status"] : "SELECIONE";
                                            //var m = "SELECIONE";
                                            var saidam = "";
                                            for (int x = 0; x <= 2; x++)
                                            {
                                                if (strgtc[x, 0] == m)
                                                {
                                                    saidam += strgtc[x, 1].Substring(0, 7) + " selected " + strgtc[x, 1].Substring(7, strgtc[x, 1].Length - 7);
                                                }
                                                else
                                                {
                                                    saidam += strgtc[x, 1];
                                                }
                                            }
                                        }
                                        @Html.Raw(saidam)
                                    </select>
                                </td>
                            </tr>
                            @*<tr>
                            <td colspan="4">
                                @Html.Action("_valor_total_recuperado_contrato", "", new { contrato = MF.contrato })
                            </td>
                            <td colspan="4">
                                @Html.Action("_valor_total_recuperado_cnpj", "", new { cpf_cnpj_cliente = MF.cpf_cnpj_cliente })
                            </td>
                        </tr>*@
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO CLIENTE:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Nome/ Razão social:&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td colspan="7">
                                    <input class="input-sm-fino" value="@Request["nome_cliente"]" type="text" name="nome_cliente" id="nome_cliente" maxlength="40" size="79" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">CPF/ CNPJ: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["cpf_cnpj_cliente"]" type="text" name="cpf_cnpj_cliente" id="cpf_cnpj_cliente" maxlength="18" size="18" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Telefone Com.: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["ddd_cliente_cml"]" type="text" name="ddd_cliente_cml" id="ddd_cliente_cml" maxlength="4" size="1" style="text-transform:uppercase" /><input class="input-sm-fino" value="@Request["fone_cliente_cml"]" type="text" name="fone_cliente_cml" id="fone_cliente_cml" maxlength="8" size="8" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Telefone Particular: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["ddd_cliente_particular"]" type="text" name="ddd_cliente_particular" id="ddd_cliente_particular" maxlength="4" size="1" style="text-transform:uppercase" /><input class="input-sm-fino" value="@Request["fone_cliente_particular"]" type="text" name="fone_cliente_particular" maxlength="8" id="fone_cliente_particular" size="8" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Endereço: </div>
                                </td>
                                <td colspan="4">
                                    <input class="input-sm-fino" value="@Request["end_cliente"]" type="text" name="end_cliente" id="end_cliente" maxlength="30" size="30" style="text-transform:uppercase" />
                                    <text class="fonte-cinza-claro fonte-tamanho-form">Nº:</text>
                                    <input class="input-sm-fino" value="@Request["num_end_cliente"]" type="text" name="num_end_cliente" id="num_end_cliente" maxlength="5" size="2" style="text-transform:uppercase" />
                                    <text class="fonte-cinza-claro fonte-tamanho-form">Compl.:</text>
                                    <input class="input-sm-fino" value="@Request["comp_end_cliente"]" type="text" name="comp_end_cliente" id="comp_end_cliente" maxlength="15" size="15" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Bairro: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["bairro_cliente"]" type="text" name="bairro_cliente" id="bairro_cliente" maxlength="20" size="20" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Cidade: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["cidade_cliente"]" type="text" name="cidade_cliente" id="cidade_cliente" maxlength="30" size="30" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">
                                        Estado:
                                        <input class="input-sm-fino" value="@Request["uf_cliente"]" type="text" name="uf_cliente" id="uf_cliente" maxlength="2" size="2" style="text-transform:uppercase" />
                                    </div>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">CEP: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["cep_cliente"]" type="text" name="cep_cliente" id="cep_cliente" maxlength="8" size="8" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <td></td>
                                <td></td>
                                <td align="right">
                                    @*<div id="outrosContratos">
                                            @{
                                                if (MF.contrato != "" && MF.contrato != null)
                                                {
                                                    @Html.ActionLink("REGISTRAR", "RegistroCliente", new { cpf_cnpj_cliente = @MF.cpf_cnpj_cliente }, new { @class = "btn3 btn-primary-imp btn-sm" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("REGISTRAR", "RegistroCliente", new { cpf_cnpj_cliente = @MF.cpf_cnpj_cliente }, new { @class = "btn3 btn-primary-imp btn-sm", onclick = "chamaErro(); return false;" })
                                                }
                                            }
                                    </div>*@
                                    <div>
                                        <input type="submit" value="INCLUIR" class="btn3 btn-primary-imp btn-sm" />
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </div>

    //Erro de contrato não encontrado
    @*if (MF.id == -1)
    {
    <script>
        try
        {
            $(document).ready(function() {
                $("#msgErro").modal();
            });
        }
        catch (e)
        {
            alert(e);
        }
    </script>
    }*@
}
@if (ViewBag.Message != null)
{
    @*<script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        $("#msgOk").modal();
    </script>*@
    <script>
        try {
            $(document).ready(function () {
                $("#msgOk").modal();
            });
        }
        catch (e) {
            alert(e);
        }
    </script>
}
<!-- O section Scripts é necessário para funcionar algumas mascaras -->
@section Scripts {
<script>

    try {
        $("#mudaReset").click(function () {
            document.getElementById("numerocontrato").setAttribute("value", "");
            document.getElementById("agencia").setAttribute("value", "");
            document.getElementById("nome_cliente").setAttribute("value", "");
            document.getElementById("cpf_cnpj_cliente").setAttribute("value", "");
            document.getElementById("ddd_cliente_cml").setAttribute("value", "");
            document.getElementById("fone_cliente_cml").setAttribute("value", "");
            document.getElementById("ddd_cliente_particular").setAttribute("value", "");
            document.getElementById("fone_cliente_particular").setAttribute("value", "");
            document.getElementById("end_cliente").setAttribute("value", "");
            document.getElementById("num_end_cliente").setAttribute("value", "");
            document.getElementById("comp_end_cliente").setAttribute("value", "");
            document.getElementById("bairro_cliente").setAttribute("value", "");
            document.getElementById("cidade_cliente").setAttribute("value", "");
            document.getElementById("uf_cliente").setAttribute("value", "");
            document.getElementById("cep_cliente").setAttribute("value", "");
            document.getElementById("dta_vecto_contrato").setAttribute("value", "");
            document.getElementById("dta_inicio_contrato").setAttribute("value", "");
            document.getElementById("dta_ultimo_pagto").setAttribute("value", "");
            document.getElementById("data_da_baixa").setAttribute("value", "");
            //document.getElementById("ConsultaContrato").submit();
        });
    }
    catch (e) {
        alert(e);
    }

    try {
        document.getElementById("numerocontrato").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("agencia").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("nome_cliente").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if (" áàéèíìóòùúãõâêîôû1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("cpf_cnpj_cliente").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("ddd_cliente_cml").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("fone_cliente_cml").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("ddd_cliente_particular").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("fone_cliente_particular").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("end_cliente").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if (" áàéèíìóòùúãõâêîôû/\|[]{}<>-_+=?!#$%&*()1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("num_end_cliente").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if (" 1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("comp_end_cliente").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if (" áàéèíìóòùúãõâêîôû/\|[]{}<>-_+=?!#$%&*()1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("bairro_cliente").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if (" áàéèíìóòùúãõâêîôû/\|[]{}<>-_+=?!#$%&*()1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("cidade_cliente").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if (" áàéèíìóòùúãõâêîôû/\|[]{}<>-_+=?!#$%&*()1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("uf_cliente").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("cep_cliente").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890".indexOf(chr) < 0)
                return false;
        }       
    }
    catch (e) {
        alert(e);
    }

    $(document).ready(function () {
        //$("#telefone").inputmask("mask", { "mask": "(99) 9999-99999" });
        //$("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, {reverse:true});
        //$("#cep").inputmask("mask", { "mask": "99999-999" });
        $("#dta_vecto_contrato").inputmask("mask", { "mask": "99/99/9999" });
        $("#dta_inicio_contrato").inputmask("mask", { "mask": "99/99/9999" });
        $("#dta_ultimo_pagto").inputmask("mask", { "mask": "99/99/9999" });
        $("#data_da_baixa").inputmask("mask", { "mask": "99/99/9999" });
        //$("#valor1").inputmask("mask", { "mask": "999.999.999.999,99" }, { reverse: false });
        //$("#valor2").inputmask("mask", { "mask": "999.999.999.999,99" }, { reverse: false });
        //$("#ip").inputmask("mask", { "mask": "999.999.999.999" });
    });

    $("#_valor_debito_total").inputmask('decimal', {
        radixPoint: ",",
        groupSeparator: ".",
        autoGroup: true,
        digits: 2,
        digitsOptional: false,
        placeholder: '0',
        rightAlign: false,
        autoUnmask: true,
        onBeforeMask: function (value, opts) {
            return value;
        }
    });

    $("#_valor_total_recuperado_contrato").inputmask('decimal', {
        radixPoint: ",",
        groupSeparator: ".",
        autoGroup: true,
        digits: 2,
        digitsOptional: false,
        placeholder: '0',
        rightAlign: false,
        autoUnmask: true,
        onBeforeMask: function (value, opts) {
            return value;
        }
    });

    $("#_valor_total_recuperado_cnpj").inputmask('decimal', {
        radixPoint: ",",
        groupSeparator: ".",
        autoGroup: true,
        digits: 2,
        digitsOptional: false,
        placeholder: '0',
        rightAlign: false,
        autoUnmask: true,
        onBeforeMask: function (value, opts) {
            return value;
        }
    });    
    
</script>
}
<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgOk" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DE CONTRATO</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">@ViewBag.Message</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
