@model CtrlPVALeasing.Models.Tbl_Agencias

@{
    ViewBag.Title = "Detalhes";
}
<br /><br />
<h2>Detalhes</h2>

<div>
    <h4>Tbl_Agencias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.agencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao_agencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao_agencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
