
@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>

<table class="table" border="1" style="border-style:inherit">
    <tr>
        <td>
            <table class="table" border="0">
                <tr>
                    <th class="input-sm-fino" align="center">
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Nº</div> @*@Html.DisplayNameFor(model => model.id)*@
                    </th>
                    <th class="input-sm-fino" align="center">
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Data da Dívida</div>
                    </th>
                    <th class="input-sm-fino" align="center">
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">UF da Dívida</div>
                    </th>
                    <th class="input-sm-fino" align="center">
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Tipo de Cobrança</div>
                    </th>
                    <th class="input-sm-fino" align="center" wi>
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Ano de Exercício</div>
                    </th>
                    <th class="input-sm-fino" align="center">
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Valor da Dívida</div>
                    </th>
                    <th class="input-sm-fino" align="center">
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">CDA</div>
                    </th>
                    <th class="input-sm-fino" align="center">
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Valor das Custas</div>
                    </th>
                    <th class="input-sm-fino" align="center">
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Valor Total Débito</div>
                    </th>
                    <th class="input-sm-fino" align="center">
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Débito</div>
                    </th>
                    <th class="input-sm-fino" align="center">
                        <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Pagamento</div>
                    </th>
                </tr>

                @{var contadorInterno = 0;
                    foreach (var item in Model)
                    {
                        if (item.contrato != null)
                        {
                            contadorInterno++;
                            if (item.valor_divida.HasValue || item.valor_custas.HasValue)
                            {
                            <tr>
                                <td class="input-sm-fino" align="center">
                                    @contadorInterno
                                </td>
                                <td class="input-sm-fino" align="center">
                                   @(item.dta_cobranca.HasValue ? item.dta_cobranca.ToString().Substring(0,10) : "")
                                </td>
                                <td class="input-sm-fino" align="center">
                                    @Html.DisplayFor(modelItem => item.uf_cobranca)
                                </td>
                                <td class="input-sm-fino" align="center">
                                    <text>@(item.tipo_cobranca == "C" ? "Cobrança Simples" : (item.tipo_cobranca == "D" ? "Dívida Ativa" : (item.tipo_cobranca == "U" ? "Custas" : "")))</text>
                                </td>
                                <td class="input-sm-fino" align="center">
                                    @Html.DisplayFor(modelItem => item.ano_exercicio)
                                </td>
                                <td class="input-sm-fino" align="right" id="valor_dividaGRID@(contadorInterno)">
                                    @Html.DisplayFor(modelItem => item.valor_divida)
                                </td>
                                <td class="input-sm-fino" align="center">
                                    @Html.DisplayFor(modelItem => item.cda)
                                </td>
                                <td class="input-sm-fino" align="right" id="valor_custasGRID@(contadorInterno)">
                                    @Html.DisplayFor(modelItem => item.valor_custas)
                                </td>
                                <td class="input-sm-fino" align="right" id="valor_total_debitoGRID@(contadorInterno)">
                                    @{ var total = (item.valor_divida.HasValue ? item.valor_divida.Value : 0) + (item.valor_custas.HasValue ? item.valor_custas.Value : 0);
                                        @total
                                    }
                                </td>
                                <td class="input-sm-fino" align="right">
                                    @Html.ActionLink("EDIT. REGISTRO", "../Registro/EditarRegistroDebitoIPVAManual", new { id_debito = item.id_debito, chassi = Model.First().chassi, renavam = Model.First().renavam, placa = Model.First().placa, Rc = "false" }, new { @class = "btn2 btn-primary-menu btn-sm" })
                                </td>
                                <td class="input-sm-fino" align="right">
                                    @Html.ActionLink((item.uf_pagamento != "" && item.uf_pagamento != null ? "EDIT. DÉBITO" : "PAGAR DÉBITO"), "../Registro/PagamentoDebitoIPVAManual2", new { id_debito = item.id_debito, chassi = Model.First().chassi, renavam = Model.First().renavam, placa = Model.First().placa, Rc = "false", deb = "true" }, new { @class = (item.uf_pagamento != "" && item.uf_pagamento != null ? "btn2 btn-primary-limpar btn-sm" : "btn2 btn-primary-menu btn-sm") })
                                </td>
                            </tr>
                            }
                        }
                    }
                }
            </table>

        </td>
    </tr>
</table>


