@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Este css dá conflito e faz as janelinhas de filtro do grid ficarem desalinhadas com o símbolo de filtro-->
    <!-- <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" /> -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>

    <!-- <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"> </script> -->

</head>
<script>
    function chamaErro4() {
        $(document).ready(function () {
            $("#msgErro4").modal();
        });
    }
    function chamaErro3() {
        $(document).ready(function () {
            $("#msgErro3").modal();
        });
    }
    function chamaErro1() {
        $(document).ready(function () {
            $("#msgErro1").modal();
        });
    }
    function chamaErro7() {
        $(document).ready(function () {
            $("#msgErro7").modal();
        });
    }
    function chamaErro8() {
        $(document).ready(function () {
            $("#msgErro8").modal();
        });
    }
    function chamaErro2() {
        $(document).ready(function () {
            $("#msgErro1").modal();
        });
    }
</script>
@{
    ViewBag.Title = "Registro Débito de IPVA";
}

@using (Html.BeginForm("RegistroDebitoIPVAManual", "Registro", FormMethod.Post, new { id = "FormAltera" }))
{
    var MF = Model.First();
    <div class="jumbotronFundo">
        <input type="hidden" name="rd" id="rd" value="false" />
        <h2>REGISTRO DÉBITO DE IPVA</h2>
        <br />
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <th class="busca" width="5%">
                        <b class="fonte-cinza-claro">Chassi:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="limpaNaMarra1" class="input-sm-fino" value="@(Request["chassi"] != null ? Request["chassi"].Trim() : MF.chassi)" type="text" name="chassi" size="35" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="5%">
                        <b class="fonte-cinza-claro">Renavam:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="limpaNaMarra2" class="input-sm-fino" value="@(Request["renavam"] != null ? Request["renavam"].Trim() : MF.renavam)" type="text" name="renavam" size="35" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="3%">
                        <b class="fonte-cinza-claro">Placa:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="limpaNaMarra3" class="input-sm-fino" value="@(Request["placa"] != null ? Request["placa"].Trim() : MF.placa)" type="text" name="placa" size="20" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="5%">
                        <div id="fazSubmit"><input class="btn2 btn-primary-pesqui .btn-sm" type="submit" name="busca" value="PESQUISAR" /></div>
                    </th>
                    <th width="1%">
                        <div id="mudaReset"><input class="btn2 btn-primary-limpar btn-sm" type="reset" name="busca" value="LIMPAR" /></div>
                    </th>
                </tr>
                <tr>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                        <a href="~/" class="btn2 btn-primary-menu btn-sm">MENU</a>
                    </th>
                </tr>
            </table>
            <hr />
        </center>
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO VEÍCULO:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Chassi:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.chassi != null && MF.chassi != "" ? MF.chassi : (Request["chassiPesquisado"] != null ? Request["chassiPesquisado"].Trim() : "") )" type="text" name="chassiPesquisado" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Marca: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.marca != null && MF.marca != "" ? MF.marca : (Request["marca"] != null ? Request["marca"].Trim() : "") )" type="text" name="marca" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano de Fabricação: &nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.ano_fab != null && MF.ano_fab != "" ? MF.ano_fab : (Request["ano_fab"] != null ? Request["ano_fab"].Trim() : "") )" type="text" name="ano_fab" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Renavam:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.renavam != null && MF.renavam != "" ? MF.renavam : (Request["renavamPesquisado"] != null ? Request["renavamPesquisado"].Trim() : "") )" type="text" name="renavamPesquisado" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Modelo: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(Request["modelo"] != null ? Request["modelo"].Trim() : MF.modelo)" type="text" name="modelo" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano do Modelo: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(Request["ano_mod"] != null ? Request["ano_mod"].Trim() : MF.ano_mod)" type="text" name="ano_mod" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Placa:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.renavam != null && MF.placa != "" ? MF.placa : (Request["placaPesquisada"] != null ? Request["placaPesquisada"].Trim() : "") )" type="text" name="placaPesquisada" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Tipo: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(Request["tipo_v"] != null ? Request["tipo_v"].Trim() : MF.tipo_v)" type="text" name="versao" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Cor: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(Request["cor"] != null ? Request["cor"].Trim() : MF.cor)" type="text" name="cor" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="6" align="justify">
                                    <div class="fonte-cinza-claro fonte-tamanho-form">
                                        Possui comunicação de venda&nbsp;
                                        <input type="checkbox" name="pcv" @(MF.comVenda != null && MF.comVenda != false ? "checked='checked'" : "" ) disabled="disabled" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Veículo apreendido pelo banco&nbsp;
                                        <input type="checkbox" name="vapb" @(MF.chassi_bens != null && MF.renavam_bens != null && MF.placa_bens != null && MF.chassi_bens != "" && MF.renavam_bens != "" && MF.placa_bens != "" ? "checked='checked'" : "" ) disabled="disabled" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">REGISTRO DE DÉBITO:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data da Cobrança:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    @*<input class="input-sm-fino" value="@(Request["dta_cobranca"] != null ? Request["dta_cobranca"] : "")" type="text" name="dta_cobranca" size="20" style="text-transform:uppercase" />*@
                                    <input id="data1" class="input-sm-fino" value="" type="text" name="dta_cobranca" size="20" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">UF da Cobrança:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <select class="input-sm-ultra-fino2" name="uf_cobranca" id="uf">
                                        @{
                                            string[,] strg = new string[28, 2] {
                                                {"SELECIONE", "<option class='input-sm-ultra-fino' value=''>SELECIONE</option>"},
                                                {"AC", "<option class='input-sm-ultra-fino' value='AC'>AC</option>"},
                                                {"AL", "<option class='input-sm-ultra-fino' value='AL'>AL</option>"},
                                                {"AM", "<option class='input-sm-ultra-fino' value='AM'>AM</option>"},
                                                {"AP", "<option class='input-sm-ultra-fino' value='AP'>AP</option>"},
                                                {"BA", "<option class='input-sm-ultra-fino' value='BA'>BA</option>"},
                                                {"CE", "<option class='input-sm-ultra-fino' value='CE'>CE</option>"},
                                                {"DF", "<option class='input-sm-ultra-fino' value='DF'>DF</option>"},
                                                {"ES", "<option class='input-sm-ultra-fino' value='ES'>ES</option>"},
                                                {"GO", "<option class='input-sm-ultra-fino' value='GO'>GO</option>"},
                                                {"MA", "<option class='input-sm-ultra-fino' value='MA'>MA</option>"},
                                                {"MG", "<option class='input-sm-ultra-fino' value='MG'>MG</option>"},
                                                {"MS", "<option class='input-sm-ultra-fino' value='MS'>MS</option>"},
                                                {"MT", "<option class='input-sm-ultra-fino' value='MT'>MT</option>"},
                                                {"PA", "<option class='input-sm-ultra-fino' value='PA'>PA</option>"},
                                                {"PB", "<option class='input-sm-ultra-fino' value='PB'>PB</option>"},
                                                {"PE", "<option class='input-sm-ultra-fino' value='PE'>PE</option>"},
                                                {"PI", "<option class='input-sm-ultra-fino' value='PI'>PI</option>"},
                                                {"PR", "<option class='input-sm-ultra-fino' value='PR'>PR</option>"},
                                                {"RJ", "<option class='input-sm-ultra-fino' value='RJ'>RJ</option>"},
                                                {"RN", "<option class='input-sm-ultra-fino' value='RN'>RN</option>"},
                                                {"RS", "<option class='input-sm-ultra-fino' value='RS'>RS</option>"},
                                                {"RO", "<option class='input-sm-ultra-fino' value='RO'>RO</option>"},
                                                {"RR", "<option class='input-sm-ultra-fino' value='RR'>RR</option>"},
                                                {"SC", "<option class='input-sm-ultra-fino' value='SC'>SC</option>"},
                                                {"SE", "<option class='input-sm-ultra-fino' value='SE'>SE</option>"},
                                                {"SP", "<option class='input-sm-ultra-fino' value='SP'>SP</option>"},
                                                {"TO", "<option class='input-sm-ultra-fino' value='TO'>TO</option>"},
                                            };

                                            //var c = Request["uf_cobranca"] != null ? Request["uf_cobranca"] : "SELECIONE";
                                            var c = "SELECIONE";
                                            var saida = "";
                                            for (int x = 0; x <= 27; x++)
                                            {
                                                if (strg[x, 0] == c)
                                                {
                                                    saida += strg[x, 1].Substring(0, 7) + " selected " + strg[x, 1].Substring(7, strg[x, 1].Length - 7);
                                                }
                                                else
                                                {
                                                    saida += strg[x, 1];
                                                }
                                            }
                                        }
                                        @Html.Raw(saida)
                                    </select>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Tipo de Cobrança: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <select class="input-sm-ultra-fino2" name="tipo_cobranca" id="vdt">
                                        @{
                                            string[,] strgtc = new string[4, 2] {
                                                {"SELECIONE", "<option class='input-sm-ultra-fino' value=''>SELECIONE</option>"},
                                                {"C", "<option class='input-sm-ultra-fino' value='C'>COBRANÇA SIMPLES</option>"},
                                                {"D", "<option class='input-sm-ultra-fino' value='D'>DÍVIDA ATIVA</option>"},
                                                {"U", "<option class='input-sm-ultra-fino' value='U'>CUSTAS</option>"},
                                            };

                                            //var m = Request["tipo_cobranca"] != null ? Request["tipo_cobranca"] : "SELECIONE";
                                            var m = "SELECIONE";
                                            var saidam = "";
                                            for (int x = 0; x <= 3; x++)
                                            {
                                                if (strgtc[x, 0] == m)
                                                {
                                                    saidam += strgtc[x, 1].Substring(0, 7) + " selected " + strgtc[x, 1].Substring(7, strgtc[x, 1].Length - 7);
                                                }
                                                else
                                                {
                                                    saidam += strgtc[x, 1];
                                                }
                                            }
                                        }
                                        @Html.Raw(saidam)
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Valor da Dívida:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td class="grid-row ">
                                    @*<input class="input-sm-fino" value="@(Request["valor_divida"] != null ? Request["valor_divida"] : "")" type="text" name="valor_divida" size="20" style="text-transform:uppercase" />*@
                                    <input id="valor_divida" class="input-sm-fino" value="" type="text" name="valor_divida" size="20" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano de Exercício: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    @*<input class="input-sm-fino" value="@(Request["ano_exercicio"] != null ? Request["ano_exercicio"] : "")" type="text" name="ano_exercicio" size="10" style="text-transform:uppercase" />*@
                                    <input class="input-sm-fino" value="" maxlength="4" type="text" name="ano_exercicio" size="10" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">CDA: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    @*<input class="input-sm-fino" value="@(Request["cda"] != null ? Request["cda"] : "")" type="text" name="cda" size="20" style="text-transform:uppercase" />*@
                                    <input class="input-sm-fino" value="" maxlength="10" type="text" name="cda" size="20" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Valor das Custas:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td class="grid-row ">
                                    @*<input class="input-sm-fino" value="@(Request["valor_custas"] != null ? Request["valor_custas"] : "")" type="text" name="valor_custas" size="20" style="text-transform:uppercase" />*@
                                    <input id="valor_custas" class="input-sm-fino" value="" type="text" name="valor_custas" size="20" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td colspan="1" align="justify">
                                    <div class="fonte-cinza-claro fonte-tamanho-form">
                                        Débito Protestado:
                                    </div>
                                </td>
                                <td colspan="1" align="justify">
                                    <div class="fonte-cinza-claro fonte-tamanho-form">
                                        @*<input type="checkbox" name="debito_protesto" value="true" @(Request["debito_protesto"] == "true" ? "checked" : "") />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@
                                        <input type="checkbox" name="debito_protesto" value="true"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Nome do Cartório:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    @*<input class="input-sm-fino" value="@(Request["nome_cartorio"] != null ? Request["nome_cartorio"] : "")" type="text" name="nome_cartorio" size="40" style="text-transform:uppercase" />*@
                                    <input id="nome_cartorio" class="input-sm-fino" maxlength="40" value="" type="text" name="nome_cartorio" size="40" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="justify">
                                    <div class="fonte-cinza-claro fonte-tamanho-form">
                                        Dívida Ativa no Serasa:&nbsp;
                                        @*<input type="checkbox" name="divida_ativa_serasa" value="true" @(Request["divida_ativa_serasa"] == "true" ? "checked" : "") />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@
                                        <input type="checkbox" name="divida_ativa_serasa" value="true" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Protesto no Serasa:&nbsp;
                                        @*<input type="checkbox" name="protesto_serasa" value="true" @(Request["protesto_serasa"] == "true" ? "checked" : "") />*@
                                        <input type="checkbox" name="protesto_serasa" value="true"  />
                                    </div>
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data Pag. Custas:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    @*<input class="input-sm-fino" value="@(Request["dta_pagamento_custas"] != null ? Request["dta_pagamento_custas"] : "")" type="text" name="dta_pagamento_custas" size="20" style="text-transform:uppercase" />*@
                                    <input id="data2" class="input-sm-fino" value="" type="text" name="dta_pagamento_custas" size="20" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Valor Débito Total:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    @*<input class="input-sm-fino" value="@(Request["valor_divida"] != null && Request["valor_custas"] != null ? Convert.ToDecimal(Request["valor_divida"].AsDecimal()+Request["valor_custas"].AsDecimal()).ToString("0.00") : "")" type="text" name="valor_debito_total" size="20" style="text-transform:uppercase" disabled="disabled" />*@
                                    <input id="valor_debito_total" class="input-sm-fino" value="" type="text" name="valor_debito_total" size="20" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right">
                                    <div id="Detalhes">
                                        @{
                                            if (MF.contrato != "" && MF.contrato != null)
                                            {
                                                <div id="fazSubmit">
                                                    <input onclick="validateForm();" class="btn4 btn-primary-imp .btn-sm" type="button" value="REGISTRAR DÉBITO" />
                                                    <input type="hidden" name="chassiPesquisado" value="@MF.chassi" />
                                                    <input type="hidden" name="renavamPesquisado" value="@MF.renavam" />
                                                    <input type="hidden" name="placaPesquisada" value="@MF.placa" />

                                                    <input type="hidden" name="marca" value="@MF.marca" />
                                                    <input type="hidden" name="ano_fab" value="@MF.ano_fab" />
                                                    <input type="hidden" name="modelo" value="@MF.modelo" />
                                                    <input type="hidden" name="ano_mod" value="@MF.ano_mod" />
                                                    <input type="hidden" name="tipo_v" value="@MF.tipo_v" />
                                                    <input type="hidden" name="cor" value="@MF.cor" />


                                                </div>
                                            }
                                            else
                                            {
                                                @Html.ActionLink("REGISTRAR DÉBITO", "RegistroDebitoIPVAManual", new { }, new { @class = "btn4 btn-primary-imp btn-sm", onclick = "chamaErro3(); return false;" })
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <center>
        <div id="resultados" hidden>
            <table border="0">
                <tr>
                    <td>
                        <div id="soma1Total">
                        </div>
                    </td>

                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>

                    <td>
                        <div id="soma2Total">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </center>
    
    //Erro de veículo não encontrado
    if (MF.id == -1)
    {
        <script>
            try
            {
                $(document).ready(function () {
                    $("#msgErro1").modal();
                });
            }
            catch (e) {
                alert(e);
            }
        </script>
    }
    else if (MF.id == -2)
    {
        <script>
            try
            {
                $(document).ready(function () {
                    $("#msgErro6").modal();
                });
            }
            catch (e) {
                alert(e);
            }
        </script>
    }
    else if (MF.id == -3)
    {
        <script>
            try {
                $(document).ready(function () {
                    $("#msgOk").modal();
                });
            }
            catch (e) {
                alert(e);
            }
        </script>
    }
    else if (MF.id == -4)
    {
        <script>
        try {
                $(document).ready(function () {
                    $("#msgErro2").modal();
                });
            }
            catch (e) {
                alert(e);
            }
        </script>
    }
}

@section Scripts {
<script>
    //Faz a soma do valor_debito_total dinamicamente.
    try {
        $("td.grid-row").focusout(function () {
            var vd = document.getElementsByName("valor_divida")[0].value.toString().split(".").join("").replace(',', '');
            var vc = document.getElementsByName("valor_custas")[0].value.toString().split(".").join("").replace(',', '');
            var vt = (parseInt(vd) + parseInt(vc)).toString();
            var resultado = vt.substring(0, vt.length - 2) + "," + vt.substring(vt.length - 2, vt.length);

            if (resultado.toString() != "NaN")
            {
                document.getElementsByName("valor_debito_total")[0].value = resultado;
            }
        });
    }
    catch (e) {
        alert(e);
    }
    //Limpa os campos mesmo que eles tenham sito recuperados pelo request.
    try {
        $("#mudaReset").click(function () {
            document.getElementById("limpaNaMarra1").setAttribute("value", "");
            document.getElementById("limpaNaMarra2").setAttribute("value", "");
            document.getElementById("limpaNaMarra3").setAttribute("value", "");
            document.getElementById("ConsultaVeiculo").submit();
        });
    }
    catch (e) {
        alert(e);
    }

    try
    {
        function validateForm()
        {
            if (document.getElementsByName('tipo_cobranca')[0].value == "D") {
                if (document.getElementsByName('cda')[0].value == "") {
                    chamaErro7();
                    return false;
                }
            }

            var els = document.getElementsByName('debito_protesto');
            for (var i = 0; i < els.length; i++) {
                if (els[i].checked) {
                    if (document.getElementsByName('nome_cartorio')[0].value == "") {
                        chamaErro8();
                        return false;
                    }
                }
            }

            if (
                document.getElementsByName('dta_cobranca')[0].value == "" ||
                document.getElementsByName('dta_pagamento_custas')[0].value == "" ||
                document.getElementsByName('valor_divida')[0].value == "" ||
                document.getElementsByName('valor_custas')[0].value == "" ||
                document.getElementsByName('valor_debito_total')[0].value == "" ||
                document.getElementsByName('ano_exercicio')[0].value == "" ||
                document.getElementsByName('uf_cobranca')[0].value == "" ||
                document.getElementsByName('tipo_cobranca')[0].value == ""
                )
            {

                $(document).ready(function () {
                    $("#msgErro5").modal();
                    return false;
                });
                return false;
            }
            else
            {
                var vt = document.getElementById("valor_divida").value.toString().split(".").join("").replace(',', '');
                var resultadoVD = vt.substring(0, vt.length - 2) + "," + vt.substring(vt.length - 2, vt.length);

                document.getElementById("valor_divida").value = resultadoVD;

                var vtc = document.getElementById("valor_custas").value.toString().split(".").join("").replace(',', '');
                var resultadoVTC = vtc.substring(0, vtc.length - 2) + "," + vtc.substring(vtc.length - 2, vtc.length);

                document.getElementById("valor_custas").value = resultadoVTC;

                document.getElementById("rd").value = true;
                document.getElementById("FormAltera").submit();
                return true;
            }
        }
    }
    catch(e)
    {
        alert(e);
    }
</script>

    <script>
        $(document).ready(function ()
        {
            //$("#telefone").inputmask("mask", { "mask": "(99) 9999-99999" });
            //$("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, {reverse:true});
            //$("#cep").inputmask("mask", { "mask": "99999-999" });
            $("#data1").inputmask("mask", { "mask": "99/99/9999" });
            $("#data2").inputmask("mask", { "mask": "99/99/9999" });
            //$("#valor1").inputmask("mask", { "mask": "999.999.999.999,99" }, { reverse: false });
            //$("#valor2").inputmask("mask", { "mask": "999.999.999.999,99" }, { reverse: false });
            //$("#ip").inputmask("mask", { "mask": "999.999.999.999" });
        });
        $("#valor_divida").inputmask('decimal', {
            radixPoint: ",",
            groupSeparator: ".",
            autoGroup: true,
            digits: 2,
            digitsOptional: false,
            placeholder: '0',
            rightAlign: false,
            autoUnmask: true,
            onBeforeMask: function (value, opts) {
                return value;
            }
        });
        $("#valor_custas").inputmask('decimal', {
            radixPoint: ",",
            groupSeparator: ".",
            autoGroup: true,
            digits: 2,
            digitsOptional: false,
            placeholder: '0',
            rightAlign: false,
            autoUnmask: true,
            onBeforeMask: function (value, opts) {
                return value;
            }
        });
        $("#valor_debito_total").inputmask('decimal', {
            radixPoint: ",",
            groupSeparator: ".",
            autoGroup: true,
            digits: 2,
            digitsOptional: false,
            placeholder: '0',
            rightAlign: false,
            autoUnmask: true,
            onBeforeMask: function (value, opts) {
                return value;
            }
        });
    </script>
}

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro1" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DÉBITO DE IPVA</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(206, 39, 39)">Veículo não encontrado!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro2" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DÉBITO DE IPVA</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Há <a style="color: rgb(206, 39, 39)">Problemas</a> com os dados para incluir este registro!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro3" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DÉBITO DE IPVA</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(206, 39, 39)">Atenção:</h4><br /><h4 style="color: rgb(176, 172, 186)">Faça primeiro uma pesquisa de algum veículo para depois poder clicar no botão <font color="Black">[ REGISTRAR DÉBITO ]</font>.</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro4" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>IMPRESSÃO DE DUT AVULSO</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(206, 39, 39)">Débito não encontrado!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro5" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DÉBITO DE IPVA</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(206, 39, 39)">Observação:</h4><h4 style="color: rgb(176, 172, 186)"><font color="Black">Não é permitido deixar:</font><br /><br /><table><tr><td> - Data da Cobrança</td></tr><tr><td> - Data do Pagamento</td></tr><tr><td> - Valor da Dívida<td></tr><tr><td> - Valor das Custas</td></tr><tr><td> - Valor do Débito Total</td></tr><tr><td> - UF da Cobrança</td></tr><tr><td> - Tipo de Cobrança</td></tr><tr><td> - Ano de Exercício</td></tr></table></h4><h4 style="color: rgb(206, 39, 39)">Em branco!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro6" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DÉBITO DE IPVA</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(206, 39, 39)">Atenção:</h4><br /><h4 style="color: rgb(176, 172, 186)"><font color="black">Este débido não pôde ser registrado!</font><br /><br />Já existe um Débito de IPVA deste veículo com estas datas, valores e/ou CDA.</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro7" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DÉBITO DE IPVA</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(206, 39, 39)">Observação:</h4><br /><h4 style="color: rgb(176, 172, 186)">O <font color="black">CDA</font> é <font color="black">obrigatório</font> se o Tipo de Cobrança for <font color="black">DIVIDA ATIVA!</font></h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro8" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DÉBITO DE IPVA</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(206, 39, 39)">Observação:</h4><br /><h4 style="color: rgb(176, 172, 186)">O <font color="black">Nome do Cartório</font> é <font color="black">obrigatório</font> se o <font color="black">Débito Protestado</font><br />estiver selecionado!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgOk" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DÉBITO DE IPVA</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Registro de Debito Incluído com <h4 style="color: rgb(206, 39, 39)">Sucesso!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

