@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>

@{
    ViewBag.Title = "Registrar DUT";
}

<script>
    function chamaErro1() {
        $(document).ready(function () {
            $("#msgErro1").modal();
        });
    }
</script>

@using (Html.BeginForm("RegistroDUT", "Registro", FormMethod.Post, new { id = "FormAltera" }))
{
    var MF = Model.First();
    <input type="hidden" name="escolha" id="escolha" value="nada" />
    <div class="jumbotronFundo">
        <h2>REGISTRO DE DUT</h2>
        <br />
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <th class="busca" width="5%">
                        <b class="fonte-cinza-claro">Chassi:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="chassi" class="input-sm-fino" value="@(Request["chassi"] != null ? Request["chassi"].Trim() : "")" type="text" name="chassi" size="35" maxlength="20" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="5%">
                        <b class="fonte-cinza-claro">Renavam:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="renavam" class="input-sm-fino" value="@(Request["renavam"] != null ? Request["renavam"].Trim() : "")" type="text" name="renavam" maxlength="20" size="35" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="3%">
                        <b class="fonte-cinza-claro">Placa:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="placa" class="input-sm-fino" value="@(Request["placa"] != null ? Request["placa"].Trim() : "")" type="text" name="placa" size="20"  maxlength="9" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="5%">
                        <div id="fazSubmit"><input class="btn2 btn-primary-pesqui .btn-sm" type="submit" name="busca" value="PESQUISAR" /></div>
                    </th>
                    <th width="1%">
                        <div id="mudaReset"><input class="btn2 btn-primary-limpar btn-sm" type="reset" name="busca" value="LIMPAR" /></div>
                    </th>
                </tr>
                <tr>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    <th>
                        <a href="~/" class="btn2 btn-primary-menu btn-sm">MENU</a>
                    </th>
                </tr>
            </table>
            <hr />
        </center>
        <center>
            <table width="100%" border="0" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td colspan="0" align="justify" width="25%" >
                        <div class="fonte-cinza-claro fonte-tamanho-form">
                            DUT está com o Banco&nbsp;
                            <input type="checkbox" name="comDUT" id="comDUT" @( MF.comDUT != null && MF.comDUT != false ? "checked='checked'" : "" ) />&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="0" align="justify" width="25%" >
                        <div class="fonte-cinza-claro fonte-tamanho-form">
                            DUT Comunicado de Venda&nbsp;
                            <input type="checkbox" name="comVenda" id="comVenda" @( MF.comVenda != null && MF.comVenda != false ? "checked='checked'" : "" ) />&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                    <td>
                        <div class="fonte-cinza-claro fonte-tamanho-form">
                            @{
                                if (MF.contrato != "" && MF.contrato != null)
                                {
                                    <div id="fazSubmit">
                                        <input onclick="validateForm();" class="btn4 btn-primary-imp .btn-sm" type="button" value="SALVAR" />
                                    </div>
                                }
                                else
                                {
                                    @Html.ActionLink("SALVAR", "RegistroDut", new { }, new { @class = "btn4 btn-primary-imp btn-sm", onclick = "chamaErro1(); return false;" })
                                }
                            }
                        </div>
                    </td>
                </tr>
            </table>
        </center>

        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO VEÍCULO:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Chassi:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.chassi" type="text" name="chassi" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Marca: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.marca" type="text" name="marca" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano de Fabricação: &nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.ano_fab" type="text" name="ano_fab" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Renavam:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.renavam" type="text" name="renavam" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Modelo: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.modelo" type="text" name="modelo" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano do Modelo: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.ano_mod" type="text" name="ano_mod" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Placa:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.placa" type="text" name="placa" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Tipo: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.tipo_v" type="text" name="versao" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Cor: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.cor" type="text" name="cor" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="6" align="justify">
                                    <div class="fonte-cinza-claro fonte-tamanho-form">
                                        @*Possui comunicação de venda&nbsp;
                                        <input type="checkbox" name="pcv" @(MF.comVenda != null && MF.comVenda != false ? "checked='checked'" : "" ) disabled="disabled" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@
                                        Veículo apreendido pelo banco&nbsp;
                                        <input type="checkbox" name="vapb" @(((MF.chassi_bens != null && MF.chassi_bens != "") || (MF.renavam_bens != null && MF.renavam_bens != "") || (MF.placa_bens != null && MF.placa_bens != "")) ? "checked='checked'" : "" ) disabled="disabled" /> 
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO CONTRATO:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Número do Contrato:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.contrato" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Agência: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.agencia" type="text" name="agencia" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data de Vencimento: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_vecto_contrato.HasValue ? MF.dta_vecto_contrato.ToString().Substring(0,10) : "")" type="text" name="dta_vecto_contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data de início: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_inicio_contrato.HasValue ? MF.dta_vecto_contrato.ToString().Substring(0,10) : "")" type="text" name="dta_inicio_contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Conta: </div>
                                </td>
                                <td>
                                    <!--AINDA NÃO DEFINIDO!--><input class="input-sm-fino" value="@MF.conta" type="text" name="conta" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data do Último Pagamento: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_ultimo_pagto.HasValue ? MF.dta_ultimo_pagto.ToString().Substring(0,10) : "")" type="text" name="dta_ultimo_pagto" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Status do Contrato: </div>
                                </td>
                                <td>
                                    @{
                                        var status = "";
                                        if (@MF.status == true)
                                        {
                                            status = "Ativo";
                                        }
                                        else if (@MF.status == false)
                                        {
                                            status = "Liquidado";
                                        }
                                        <input class="input-sm-fino" value="@status" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                    }
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </div>

    
    if (MF.id == -1)
    {
    <script>
        try{
            $(document).ready(function () {
                $("#msgErro1").modal();
            });
        }
        catch(e)
        {
            alert(e);
        }
    </script>
    }

    if (MF.id == -2)
    {
    <script>
        try{
            $(document).ready(function () {
                $("#msgOk").modal();
            });
        }
        catch(e)
        {
            alert(e);
        }
    </script>
    }

    if (MF.id == -3)
    {
    <script>
        try{
            $(document).ready(function () {
                $("#msgErro3").modal();
            });
        }
        catch(e)
        {
            alert(e);
        }
    </script>
    }

    if (MF.id == -4)
    {
        <script>
        try{
            $(document).ready(function () {
                $("#msgErro4").modal();
            });
        }
        catch(e)
        {
            alert(e);
        }
        </script>
    }

    if (MF.id == -5)
    {
        <script>
        try{
            $(document).ready(function () {
                $("#msgErro5").modal();
            });
        }
        catch(e)
        {
            alert(e);
        }
    </script>
    }

    if (MF.id == -6)
    {
        <script>
        try{
            $(document).ready(function () {
                $("#msgErro6").modal();
            });
        }
        catch(e)
        {
            alert(e);
        }
    </script>
    }

    //Aqui o JavaScript participa do Using lá do início da página e ele só é fechado no fim do JS

@section Scripts{
<script>
    //Limpa o campo contrato mesmo que ele tenha sito recuperado pelo request.
    try {
        $("#mudaReset").click(function () {
            document.getElementById("chassi").setAttribute("value", "");
            document.getElementById("renavam").setAttribute("value", "");
            document.getElementById("placa").setAttribute("value", "");
            document.getElementById("ConsultaVeiculo").submit();
        });
    }
    catch (e) {
        alert(e);
    }

    $("#msgOk").on("hidden.bs.modal", function () {
        history.go(-1);
    });

    try {
        document.getElementById("chassi").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("renavam").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890".indexOf(chr) < 0)
                return false;
        }
        document.getElementById("placa").onkeypress = function (e) {
            var chr = String.fromCharCode(e.which);
            if ("1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                return false;
        }
    }
    catch (e) {
        alert(e);
    }

    try
    {
        function validateForm(a)
        {
            if (
                document.getElementById('chassi').value == "" &&
                document.getElementById('renavam').value == "" &&
                document.getElementById('placa').value == "")
            {
                $(document).ready(function () {
                    $("#msgErro1").modal();
                    return false;
                });
                return false;
            }
            else
            {
                document.getElementById("escolha").value = "rdrc";
                document.getElementById("comDUT").value = (document.getElementById("comDUT").value == 'on' ? 'true' : 'false');
                document.getElementById("comVenda").value = (document.getElementById("comVenda").value == 'on' ? 'true' : 'false');
                document.getElementById("FormAltera").submit();
                return true;
            }
        }
    }
    catch(e)
    {
        alert(e);
    }
</script>
}
}
<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro1" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DE DUT</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Veículo não encontrado!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgOk" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DE DUT</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Registro de DUT ou Comunicado de Venda, atualizado com <h4 style="color: rgb(206, 39, 39)">Sucesso!</h4></h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro3" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DE DUT</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Registro de DUT ou Comunicado de Venda, realizado com <h4 style="color: rgb(206, 39, 39)">Sucesso!</h4></h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro4" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DE DUT</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Contrato não encontrado!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro5" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DE DUT</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Veículo já incluso!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro6" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DE DUT</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">ERRO na inclusão deste veículo, verifique os dados do veículo!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

