@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Este css dá conflito e faz as janelinhas de filtro do grid ficarem desalinhadas com o símbolo de filtro-->
    <!-- <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" /> -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>

    <!-- <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"> </script> -->

</head>
<script>
    function chamaErro4() {
        $(document).ready(function () {
            $("#msgErro4").modal();
        });
    }
    function chamaErro3() {
        $(document).ready(function () {
            $("#msgErro3").modal();
        });
    }
    function chamaErro2() {
        $(document).ready(function () {
            $("#msgErro2").modal();
        });
    }
    function chamaErro1() {
        $(document).ready(function () {
            $("#msgErro1").modal();
        });
    }
</script>
@{
    ViewBag.Title = "Impressão de DUT Avulso";
}

@using (Html.BeginForm("ImpressaoDUTAvulso", "Transacional"))
{
    var MF = Model.First();
    <div class="jumbotronFundo">

        <h2>IMPRESSÃO DE DUT AVULSO</h2>
        <br />
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <th class="busca" width="5%">
                        <b class="fonte-cinza-claro">Chassi:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="limpaNaMarra1" class="input-sm-fino" value="@(Request["chassi"] != null ? Request["chassi"].Trim() : "")" type="text" name="chassi" size="35" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="5%">
                        <b class="fonte-cinza-claro">Renavam:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="limpaNaMarra2" class="input-sm-fino" value="@(Request["renavam"] != null ? Request["renavam"].Trim() : "")" type="text" name="renavam" size="35" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="3%">
                        <b class="fonte-cinza-claro">Placa:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="limpaNaMarra3" class="input-sm-fino" value="@(Request["placa"] != null ? Request["placa"].Trim() : "")" type="text" name="placa" size="20" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="5%">
                        <div id="fazSubmit"><input class="btn2 btn-primary-pesqui .btn-sm" type="submit" name="busca" value="PESQUISAR" /></div>
                    </th>
                    <th width="1%">
                        <div id="mudaReset"><input class="btn2 btn-primary-limpar btn-sm" type="submit" name="busca" value="LIMPAR" /></div>
                    </th>
                </tr>
                <tr>
                    @if (MF.chassi != "" && @MF.chassi != null)
                    {
                    <th colspan="2">
                        <a href="/" class="btn3 btn-primary-imp btn-sm">IMPRIMIR O DUT</a>
                    </th>
                    }
                    else
                    {
                        <th>
                        </th>
                    }
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                        <a href="/" class="btn2 btn-primary-menu btn-sm">MENU</a>
                    </th>
                </tr>
            </table>
            <hr />
        </center>
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO VEÍCULO:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Chassi:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.chassi" type="text" name="chassi" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Marca: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.marca" type="text" name="marca" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano de Fabricação: &nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.ano_fab" type="text" name="ano_fab" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Renavam:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.renavam" type="text" name="renavam" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Modelo: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.modelo" type="text" name="modelo" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano do Modelo: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.ano_mod" type="text" name="ano_mod" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Placa:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.placa" type="text" name="placa" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Tipo: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.tipo_v" type="text" name="versao" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Cor: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.cor" type="text" name="cor" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="6" align="justify">
                                    <div class="fonte-cinza-claro fonte-tamanho-form">
                                        Possui comunicação de venda&nbsp;
                                        <input type="checkbox" name="pcv" @(MF.divida_ativa_serasa.HasValue && MF.divida_ativa_serasa.Value == true ? "checked='checked'" : "" ) disabled="disabled" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Veículo apreendido pelo banco&nbsp;
                                        <input type="checkbox" name="vapb" @(MF.divida_ativa_serasa.HasValue && MF.divida_ativa_serasa.Value == true ? "checked='checked'" : "" ) disabled="disabled" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DE DÉBITOS:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data da Última Cobrança:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_cobranca.HasValue ? MF.dta_cobranca.ToString().Substring(0,10) :"")" type="text" name="dta_cobranca" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Valor Total dos Débitos de IPVA: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.valor_debito_total" type="text" name="valor_debito_total" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data da Última Recuperação:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_pagamento.HasValue ? MF.dta_pagamento.ToString().Substring(0,10) : "")" type="text" name="dta_pagamento" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Valor Total das Recuperações de IPVA: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.valor_pago_total" type="text" name="valor_pago_total" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right">
                                    <div id="Detalhes">
                                        @{
                                            if (MF.contrato != "" && MF.contrato != null)
                                            {
                                                @Html.ActionLink("DETALHES", "../Consulta/ConsultaDebito", new { chassi = @MF.chassi, placa = @MF.placa, renavam = @MF.renavam }, new { @class = "btn3 btn-primary-imp btn-sm" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("DETALHES", "../Consulta/ConsultaDebito", new { }, new { @class = "btn3 btn-primary-imp btn-sm", onclick = "chamaErro4(); return false;" })
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO CONTRATO:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Número do Contrato:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.contrato" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Agência: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.agencia" type="text" name="agencia" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data de Vencimento: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_vecto_contrato.HasValue ? MF.dta_vecto_contrato.ToString().Substring(0,10) : "")" type="text" name="dta_vecto_contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data de início: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_inicio_contrato.HasValue ? MF.dta_vecto_contrato.ToString().Substring(0,10) : "")" type="text" name="dta_inicio_contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Conta: </div>
                                </td>
                                <td>
                                    <!--AINDA NÃO DEFINIDO!--><input class="input-sm-fino" value="" type="text" name="agencia" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data do Último Pagamento: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_ultimo_pagto.HasValue ? MF.dta_ultimo_pagto.ToString().Substring(0,10) : "")" type="text" name="dta_ultimo_pagto" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Status do Contrato: </div>
                                </td>
                                <td>
                                    @{
                                        var status = "";
                                        if (@MF.status == true)
                                        {
                                            status = "Ativo";
                                        }
                                        else if (@MF.status == false)
                                        {
                                            status = "Liquidado";
                                        }
                                        <input class="input-sm-fino" value="@status" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                    }
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right">
                                    <div id="outrosContratos">
                                        @{
                                            if (MF.contrato != "" && MF.contrato != null)
                                            {
                                                @Html.ActionLink("OUTROS CONTRATOS", "../Consulta/ConsultaCliente", new { cpf_cnpj_cliente = @MF.cpf_cnpj_cliente }, new { @class = "btn3 btn-primary-imp btn-sm" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("OUTROS CONTRATOS", "../Consulta/ConsultaCliente", new { }, new { @class = "btn3 btn-primary-imp btn-sm", onclick = "chamaErro2(); return false;" })
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO CLIENTE:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Nome/ Razão social:&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td colspan="7">
                                    <input class="input-sm-fino" value="@MF.nome_cliente" type="text" maxlength="40" size="79" name="contrato" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">CPF/ CNPJ: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.cpf_cnpj_cliente" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Telefone Com.: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.fone_cliente_cml" type="text" name="cliente" size="26" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Telefone Particular.: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.fone_cliente_particular" type="text" name="cliente" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Endereço: </div>
                                </td>
                                <td colspan="4">
                                    <input class="input-sm-fino" value="@MF.end_cliente" type="text" name="teste1" maxlength="40" size="79" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Bairro: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.bairro_cliente" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Cidade: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.cidade_cliente" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Estado: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.uf_cliente" type="text" name="contrato" size="3" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">CEP: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.cep_cliente" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Marcas: </div>
                                </td>
                                <td colspan="7">
                                    <!--Virá do CCL_Marcas--><input class="input-sm-fino" value="" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
        @{
            if (Request["ac"] == "true")
            {

                <center>
                    <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                        <tr>
                            <td>
                                <b class="fonte-cinza-escuro">DADOS DA VENDA:</b>
                                <table border="0" style="border-style:inherit">
                                    <tr>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">Nome do Comprador:&nbsp;&nbsp;&nbsp;</div>
                                        </td>
                                        <td colspan="6">
                                            <input class="input-sm-fino" value="@MF.nome_cliente" type="text" maxlength="40" size="79" name="nome_comprador" style="text-transform:uppercase" />
                                        </td>
                                        <td align="right">
                                            <div id="Detalhes">
                                                @{
                                                    if (MF.contrato != "" && MF.contrato != null)
                                                    {
                                                        @Html.ActionLink("NÃO ALTERAR COMPRADOR", "ImpressaoDUTAvulso", new { chassi = @MF.chassi, placa = @MF.placa, renavam = @MF.renavam, ac = true }, new { @class = "btn4 btn-primary-imp btn-sm" })
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("NÃO ALTERAR COMPRADOR", "ImpressaoDUTAvulso", new { }, new { @class = "btn4 btn-primary-imp btn-sm", onclick = "chamaErro3(); return false;" })
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">CPF/ CNPJ: </div>
                                        </td>
                                        <td>
                                            <input class="input-sm-fino" value="@MF.cpf_cnpj_cliente" type="text" name="cpf_cnpj_comprador" size="30" style="text-transform:uppercase" />
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">Local: &nbsp;&nbsp;&nbsp;</div>
                                        </td>
                                        <td colspan="3">
                                            <input class="input-sm-fino" value="@(MF.cidade_cliente != null ? MF.cidade_cliente.ToString().Trim() + " / " + MF.uf_cliente : "" )" type="text" name="local_comprador" size="29" style="text-transform:uppercase" />
                                        </td>
                                        <td align="right">
                                            <div id="Detalhes">
                                                @{
                                                    if (MF.contrato != "" && MF.contrato != null)
                                                    {
                                                        <div id="fazSubmit"><input class="btn4 btn-primary-pesqui .btn-sm" type="submit" name="busca" value="INCLUIR NOVO COMPRADOR" /></div>
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("INCLUIR NOVO COMPRADOR", "IncluirNovoComprador", new { }, new { @class = "btn4 btn-primary-imp btn-sm", onclick = "chamaErro3(); return false;" })
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">RG: </div>
                                        </td>
                                        <td>
                                            <input class="input-sm-fino" value="@MF.cpf_cnpj_cliente" type="text" name="rg_comprador" size="30" style="text-transform:uppercase" />
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">Data: &nbsp;&nbsp;&nbsp;</div>
                                        </td>
                                        <td>
                                            <input class="input-sm-fino" value="@(MF.cidade_cliente != null ? DateTime.Now.Date.Day + "/" + DateTime.Now.Date.Month + "/" + DateTime.Now.Date.Year : "")" type="text" name="dta_da_compra" size="29" style="text-transform:uppercase" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">Endereço: </div>
                                        </td>
                                        <td colspan="4">
                                            <input class="input-sm-fino" value="@(MF.end_cliente != null ? MF.end_cliente.ToString().Trim() + " - " + MF.bairro_cliente.ToString().Trim() + "   - CEP: " + MF.cep_cliente : "")" type="text" name="end_comprador" maxlength="40" size="79" style="text-transform:uppercase" />
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">Valor: </div>
                                        </td>
                                        <td>
                                            <!--Virá de outra tabela--><input class="input-sm-fino" value="???????????????" type="text" name="valor_da_compra" size="25" style="text-transform:uppercase" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>

            }
            else
            {
                <center>
                    <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                        <tr>
                            <td>
                                <b class="fonte-cinza-escuro">DADOS DA VENDA:</b>
                                <table border="0" style="border-style:inherit">
                                    <tr>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">Nome do Comprador:&nbsp;&nbsp;&nbsp;</div>
                                        </td>
                                        <td colspan="6">
                                            <input class="input-sm-fino" value="@MF.nome_cliente" type="text" maxlength="40" size="79" name="nome_comprador" style="text-transform:uppercase" disabled="disabled" />
                                        </td>
                                        <td align="right">
                                            <div id="Detalhes">
                                                @{
                                                    if (MF.contrato != "" && MF.contrato != null)
                                                    {
                                                        @Html.ActionLink("ALTERAR COMPRADOR", "ImpressaoDUTAvulso", new { chassi = @MF.chassi, placa = @MF.placa, renavam = @MF.renavam, ac = "true" }, new { @class = "btn3 btn-primary-imp btn-sm" })
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("ALTERAR COMPRADOR", "ImpressaoDUTAvulso", new { }, new { @class = "btn3 btn-primary-imp btn-sm", onclick = "chamaErro3(); return false;" })
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">CPF/ CNPJ: </div>
                                        </td>
                                        <td>
                                            <input class="input-sm-fino" value="@MF.cpf_cnpj_cliente" type="text" name="cpf_cnpj_cliente_comprador" size="30" style="text-transform:uppercase" disabled="disabled" />
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">Local: &nbsp;&nbsp;&nbsp;</div>
                                        </td>
                                        <td>
                                            <input class="input-sm-fino" value="@(MF.cidade_cliente != null ? MF.cidade_cliente.ToString().Trim() + " / " + MF.uf_cliente : "" )" type="text" name="local_comprador" size="29" style="text-transform:uppercase" disabled="disabled" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">RG: </div>
                                        </td>
                                        <td>
                                            <input class="input-sm-fino" value="@MF.cpf_cnpj_cliente" type="text" name="rg_comprador" size="30" style="text-transform:uppercase" disabled="disabled" />
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">Data: &nbsp;&nbsp;&nbsp;</div>
                                        </td>
                                        <td>
                                            <input class="input-sm-fino" value="@(MF.cidade_cliente != null ? DateTime.Now.Date.Day + "/" + DateTime.Now.Date.Month + "/" + DateTime.Now.Date.Year : "")" type="text" name="data_comprador" size="29" style="text-transform:uppercase" disabled="disabled" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">Endereço: </div>
                                        </td>
                                        <td colspan="4">
                                            <input class="input-sm-fino" value="@(MF.end_cliente != null ? MF.end_cliente.ToString().Trim() + " - " + MF.bairro_cliente.ToString().Trim() + " - CEP: " + MF.cep_cliente : "")" type="text" name="endereco_comprador" maxlength="40" size="79" style="text-transform:uppercase" disabled="disabled" />
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td>
                                            <div class="fonte-cinza-claro fonte-tamanho-form">Valor: </div>
                                        </td>
                                        <td>
                                            <input class="input-sm-fino" value="????????" type="text" name="???_comprador" size="25" style="text-transform:uppercase" disabled="disabled" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>

            }
        }

    </div>

    //Erro de veículo não encontrado
    if (MF.id == -1)
    {
        <script>
            try
            {
                $(document).ready(function () {
                    $("#msgErro1").modal();
                });
            }
            catch (e) {
                alert(e);
            }
        </script>
    }
}

<script>
    //Limpa o campo contrato mesmo que ele tenha sito recuperado pelo request.
    try {
        $("#mudaReset").click(function () {
            document.getElementById("limpaNaMarra1").setAttribute("value", "");
            document.getElementById("limpaNaMarra2").setAttribute("value", "");
            document.getElementById("limpaNaMarra3").setAttribute("value", "");
            document.getElementById("ConsultaVeiculo").submit();
        });
    }
    catch (e) {
        alert(e);
    }
</script>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro1" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>IMPRESSÃO DE DUT AVULSO</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Veículo não encontrado!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro2" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>IMPRESSÃO DE DUT AVULSO</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Contrato não encontrado!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro3" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>IMPRESSÃO DE DUT AVULSO</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(206, 39, 39)">Atenção:</h4><h4 style="color: rgb(176, 172, 186)">Faça primeiro uma pesquisa de algum veículo para depois poder clicar no botão <font color="Black">[ Alterar Comprador ]</font>.</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro4" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>IMPRESSÃO DE DUT AVULSO</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Débito não encontrado!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>