@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Este css dá conflito e faz as janelinhas de filtro do grid ficarem desalinhadas com o símbolo de filtro-->
    <!-- <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" /> -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <!-- <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"> </script> -->

</head>
<script>
    function chamaErro2() {
        $(document).ready(function () {
            $("#msgErro2").modal();
        });
    }

</script>
@{
    ViewBag.Title = "Liquidados";
}

@using (Html.BeginForm("Liquidados", "Transacional", FormMethod.Post, new { id = "FormAltera" }))
{
    var MF = Model.First();
    <input type="hidden" name="escolha" id="escolha" value="false" />
    <input type="hidden" name="listaSelecionados" id="listaSelecionados" value=""/>
    <div class="jumbotronFundo">
        <h2>LIQUIDADOS</h2>
        <br />
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <th class="busca" width="35%">
                        <b class="fonte-cinza-claro">Data de Liquidação dos Contratos: &nbsp;&nbsp;&nbsp;&nbsp;De:&nbsp;</b>
                        <input id="limpaNaMarra1" class="input-sm-fino" value="@(Request["dataInicio"] != null ? Request["dataInicio"].Trim() : "")" type="text" name="dataInicio" size="15" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="5%">
                        <b class="fonte-cinza-claro">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Até:</b>
                    </th>
                    <th class="busca" width="5%">
                        <input id="limpaNaMarra2" class="input-sm-fino" value="@(Request["dataFim"] != null ? Request["dataFim"].Trim() : "")" type="text" name="dataFim" size="15" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="10%">
                    </th>
                    <th class="busca" width="5%">
                    </th>
                    <th width="5%">
                    </th>
                    <th class="busca" width="5%">
                        <div id="fazSubmit"><input onclick="validateForm(false);" class="btn2 btn-primary-pesqui .btn-sm" type="button" name="busca" value="PESQUISAR" /></div>
                    </th>
                    <th width="1%">
                        <div id="mudaReset"><input class="btn2 btn-primary-limpar btn-sm" type="submit" name="busca" value="LIMPAR" /></div>
                    </th>
                </tr>
                <tr>
                    <td class="busca" width="5%" colspan="7">
                        <b class="fonte-cinza-claro">Filtrar Estado:&nbsp;</b>
                        <select class="input-sm-ultra-fino2" name="uf_cliente" id="uf_cliente">
                            <option class='input-sm-ultra-fino' value=''>SELECIONE</option>
                            <option class='input-sm-ultra-fino' value='SP' @(Request["uf_cliente"] == "SP" ? "selected" : "" )>SP</option>
                            <option class='input-sm-ultra-fino' value='DEMAIS' @(Request["uf_cliente"] == "DEMAIS" ? "selected" : "" )>DEMAIS</option>
                        </select>&nbsp;&nbsp;&nbsp;
                        <b class="fonte-cinza-claro">Filtrar Impressão:&nbsp;</b>
                        <select class="input-sm-ultra-fino2" name="impresso" id="impresso">
                            <option class='input-sm-ultra-fino' value=''>SELECIONE</option>
                            <option class='input-sm-ultra-fino' value='J' @(Request["impresso"] == "J" ? "selected" : "" )>JÁ IMPRESSO</option>
                            <option class='input-sm-ultra-fino' value='N' @(Request["impresso"] == "N" ? "selected" : "" )>NÃO IMPRESSO</option>
                            <option class='input-sm-ultra-fino' value='T' @(Request["impresso"] == "T" ? "selected" : "" )>TUDO</option>
                        </select>&nbsp;&nbsp;&nbsp;
                        <b class="fonte-cinza-claro">Filtrar DUT:&nbsp;</b>
                        <select class="input-sm-ultra-fino2" name="DUT" id="DUT">
                            <option class='input-sm-ultra-fino' value=''>SELECIONE</option>
                            <option class='input-sm-ultra-fino' value='C' @(Request["DUT"] == "C" ? "selected" : "" )>COM DUT</option>
                            <option class='input-sm-ultra-fino' value='S' @(Request["DUT"] == "S" ? "selected" : "" )>SEM DUT</option>
                            <option class='input-sm-ultra-fino' value='>' @(Request["DUT"] == ">" ? "selected" : "" )>SEM DUT > CRITÉRIO</option>
                        </select>
                        <b class="fonte-cinza-claro">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Critério:</b>
                        <input id="limpaNaMarra2" class="input-sm-fino" value="@Request["criterio"]" type="text" name="criterio" id="criterio" size="1" style="text-transform:uppercase">
                        <b class="fonte-cinza-claro"> Dias</b>
                    </td>
                    <td>
                        <a href="/" class="btn2 btn-primary-menu btn-sm">MENU</a>
                    </td>
                </tr>
                @if (MF.chassi != "" && @MF.chassi != null)
                {
                    <tr colspan="2">
                        <td>
                            <input onclick="validateForm(true);" class="btn4 btn-primary-imp .btn-sm" type="button" name="Submit" id="Submit" value="GERAR CSV" />
                            <input onclick="validateForm(false);" class="btn4 btn-primary-pesqui .btn-sm" type="button" name="Submit" id="Submit" value="ABRIR LISTAS DE IMPRESSÃO" />
                    </tr>
                }
            </table>
            <hr />
        </center>
        <center>
            <div id="supergrid">
                <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                    <tr>
                        <td>
                            @if (Model.First().id > 0)
                            {
                                <b class="fonte-cinza-escuro">@Model.Count().ToString() VEÍCULOS DE @(Request["uf_cliente"] == "DEMAIS" ? "DEMAIS ESTADOS" : Request["uf_cliente"]), @(Request["DUT"] == "C" ? "COM DUT" : (Request["DUT"] == "S" ? "SEM DUT" : (Request["DUT"] == ">" ? "SEM DUT À MAIS DE " + Request["criterio"] + " DIAS" : "")))@(Request["impresso"] == "J" ? ", JÁ IMPRESSOS " : (Request["impresso"] == "N" ? ", NÃO IMPRESSOS " : (Request["impresso"] == "T" ? "" : ""))), DE @Request["dataInicio"] À @Request["dataFim"]:</b>
                            }
                            else
                            {
                                <b class="fonte-cinza-escuro">NENHUM VEÍCULO PESQUISADO</b>
                            }
                            <table border="0" style="border-style:inherit">
                                <tr>
                                    <table class="table" border="1" style="border-style:inherit">
                                        <tr>
                                            <td>
                                                <table class="table" border="0">
                                                    <tr>
                                                        <th class="input-sm-fino" align="center">
                                                            <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Nº</div>
                                                        </th>
                                                        <th class="input-sm-fino" align="center">
                                                            <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Chassi</div>
                                                        </th>
                                                        <th class="input-sm-fino" align="center">
                                                            <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Renavam</div>
                                                        </th>
                                                        <th class="input-sm-fino" align="center">
                                                            <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Data de Início</div>
                                                        </th>
                                                        <th class="input-sm-fino" align="center" wi>
                                                            <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Data de Vencimento</div>
                                                        </th>
                                                        <th class="input-sm-fino" align="center">
                                                            <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Data de Baixa</div>
                                                        </th>
                                                        <th class="input-sm-fino" align="center">
                                                            <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Impresso?</div>
                                                        </th>
                                                        <th class="input-sm-fino" align="center">
                                                            <div class="fonte-cinza-claro fonte-tamanho-form" align="center">Imprimir?</div>
                                                        </th>
                                                    </tr>
                                                    @{var contadorInterno = 0; }
                                                    @if (Model != null)
                                                    {
                                                        foreach (var item in Model)
                                                        {
                                                            if (item.contrato != null)
                                                            {
                                                                contadorInterno++;
                                                                <tr class="grid-row">
                                                                    <td class="input-sm-fino" align="center">
                                                                        @contadorInterno
                                                                    </td>
                                                                    <td class="input-sm-fino" align="right">
                                                                        @Html.DisplayFor(modelItem => item.chassi)
                                                                    </td>
                                                                    <td class="input-sm-fino" align="right">
                                                                        @Html.DisplayFor(modelItem => item.renavam)
                                                                    </td>
                                                                    <td class="input-sm-fino" align="center">
                                                                        @(item.dta_inicio_contrato.HasValue ? item.dta_inicio_contrato.ToString().Substring(0, 10) : "")
                                                                    </td>
                                                                    <td class="input-sm-fino" align="center">
                                                                        @(item.dta_vecto_contrato.HasValue ? item.dta_vecto_contrato.ToString().Substring(0, 10) : "")
                                                                    </td>
                                                                    <td class="input-sm-fino" align="center">
                                                                        @(item.data_da_baixa.HasValue ? item.data_da_baixa.ToString().Substring(0, 10) : "")
                                                                    </td>
                                                                    <td class="input-sm-fino" align="center">
                                                                        @(item.tipo_impressao == "C" ? "COM DUT" : (item.tipo_impressao == "S" ? "SEM DUT" : (item.tipo_impressao == ">" ? "SEM DUT > C." : "Não")))
                                                                    </td>
                                                                    <td class="input-sm-fino" align="center">
                                                                        <input type="checkbox"/>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                </table>
                                                <input type="hidden" id="contadorInterno" name="contadorInterno" value="@contadorInterno" />
                                            </td>
                                        </tr>
                                    </table>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </center>
    </div>
}

<script>

    caminho = document.getElementById("supergrid");

    //Faz a soma da coluna 11 e a soma da coluna 4, checando o campo 12, automaticamente e atualiza no final.
    try {
        $("tr.grid-row").change(function () {

            var tudo ="";
            $("tr.grid-row").each(function () {
                var tr = $(this);
                var rows = $(tr).children();

                if (rows[7].getElementsByTagName("input")[0].checked) {
                    var valor2 = rows[1].innerHTML.trim();

                    if (tudo != "")
                        tudo += ",";

                    tudo += valor2;

                }
            });
            //alert("-->" + tudo + "<--");
            $("#listaSelecionados").val(tudo.toString());
        });
    }
    catch (e) {
        alert("Erro: " + e);
    }

    //Limpa o campo contrato mesmo que ele tenha sito recuperado pelo request.
    try {
        $("#mudaReset").click(function () {
            document.getElementById("limpaNaMarra1").setAttribute("value", "");
            document.getElementById("limpaNaMarra2").setAttribute("value", "");
            document.getElementById("limpaNaMarra3").setAttribute("value", "");
            document.getElementById("Liquidados").submit();
        });
    }
    catch (e) {
        alert("Erro: " + e);
    }


    try {
        function validateForm(a) {
            //alert(document.getElementById("listaSelecionados").value);
            if (
                document.getElementsByName('dataInicio')[0].value == "" ||
                document.getElementsByName('dataFim')[0].value == "" ||
                document.getElementsByName('uf_cliente')[0].value == "" ||
                document.getElementsByName('impresso')[0].value == "" ||
                document.getElementsByName('DUT')[0].value == "" ||
                document.getElementsByName('criterio')[0].value == "") {
                $(document).ready(function () {
                    $("#msgErro5").modal();
                    return false;
                });
                return false;
            }
            else
            {
                if (a == true)
                {
                    document.getElementById("escolha").value = true;
                }
                else
                {
                    document.getElementById("escolha").value = false;
                }
                document.getElementById("FormAltera").submit();
                return true;
            }
        }
    }
    catch (e) {
        alert("Erro: " + e);
    }


</script>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro5" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>LIQUIDADOS</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(206, 39, 39)">Observação:</h4><h4 style="color: rgb(176, 172, 186)"><font color="Black">Não é permitido deixar:</font><br /><br /><table><tr><td> - Data de Liquidação De:</td></tr><tr><td> - Data de Liquidação Até:</td></tr><tr><td> - Filtrar Estado<td></tr><tr><td> - Filtrar Impressão<td></tr><tr><td> - Filtrar DUT<td></tr><tr><td> - Critério<td></tr></table></h4><h4 style="color: rgb(206, 39, 39)">Em branco!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>