@model IEnumerable<CtrlPVALeasing.Models.TesteViewModel>
@{
    ViewBag.Title = "Gráficos";
}
<body><br /><br /><br /><br /><br /><br />
    <table border="1" width="50%">
        <tr>
            <td align="center">
                <h5>CONTRATOS</h5>
            </td>
            <td align="center">

                <h5>VEÍCULOS</h5>
            </td>
        </tr>
        <tr>
            <td>
                @foreach (var item in Model)
                {
                    if (item.status == true)
                    {
                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Imagens/verde.bmp" /> LIQUIDADOS(@item.total) </h5>
                    }
                    else if (item.status == false)
                    {
                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Imagens/vermelho.bmp" /> ATIVOS (@item.total)</h5>
                    }
                }
            </td>
            <td>
                @foreach (var item in Model)
                {
                    if (item.status2 == true)
                    {
                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Imagens/verde.bmp" /> LIQUIDADOS(@item.total2) </h5>
                    }
                    else if (item.status2 == false)
                    {
                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Imagens/vermelho.bmp" /> ATIVOS (@item.total2)</h5>
                    }
                }
            </td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Action("_graficoContratos")" alt="" />
            </td>
            <td>
                <img src="@Url.Action("_graficoVeiculos")" alt="" />
            </td>
        </tr>
    </table>
</body>