@model IEnumerable<CtrlPVALeasing.Models.TesteViewModel>
@{
    ViewBag.Title = "Usando Chart Helper";
    Layout = "~/Views/Shared/_LayoutConsultaContrato.cshtml";
}
<body><br /><br /><br /><br /><br /><br />
    @foreach (var item in Model)
    {
        @item.status
        @item.total
        @item.status2
        @item.total2
    }

    <table border="1" width="50%">
        <tr>
            <td align="center">
                <h2>CONTRATOS</h2>
            </td>
            <td align="center">

                <h2>VEÍCULOS</h2>
            </td>
        </tr>
        <tr>
            <td>
                @foreach (var item in Model)
                {
                    if (item.status == true)
                    {
                        <h2>- Verde LIQUIDADOS(@item.total) </h2>
                    }
                    else if (item.status == false)
                    {
                        <h2>- Vermelho ATIVOS (@item.total)</h2>
                    }
                }
            </td>
            <td>
                <h2>- Vermelho ATIVOS - Verde LIQUIDADOS</h2>
            </td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Action("_graficoContratos")" alt="" />
            </td>
            <td>
                <img src="@Url.Action("_graficoVeiculos")" alt="" />
            </td>
        </tr>
    </table>
</body>