@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
@{
    if (Request["RAT"] != "true")
    {
        ViewBag.Title = "Relatório - Incorporação de Dívida - JUR";
    }
    else
    {
        ViewBag.Title = "Relatório - Incorporação de Dívida - RAT";
    }
    Layout = "~/Views/Shared/_LayoutImpressao.cshtml";
}
<br /><br />
@if (Request["RAT"] != "true")
{
    <h1>INCORPORAÇÃO DE DÍVIDA - JUR</h1>
}
else
{
    <h1>INCORPORAÇÃO DE DÍVIDA - RAT</h1>
}
<br />
<table class="table">
    <tr>
        <th>
            Nº Contrato
        </th>
        <th>
            Status do Contrato
        </th>
        <th>
            Nome do Cliente
        </th>
        <th>
            CPF/CNPJ
        </th>
        <th>
            Marca
        </th>
        <th>
            Chassi
        </th>
        <th>
            Renavam
        </th>
        <th>
            Placa
        </th>
        <th>
            Valor Dívida
        </th>
        <th>
            Valor Custas
        </th>
        <th>
            Valor Débito Total
        </th>
        <th>
            Ano de Exercício
        </th>
        <th>
            Valor Total Pago
        </th>
        <th>
            Valor Para Incorporar
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td align="center">
                @Html.DisplayFor(modelItem => item.contrato)
            </td>
            <td align="center">
                @(item.status.HasValue && item.status == true ? "Ativo" : (item.status.HasValue && item.status == false ? "Liquidado" : "" ))
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => item.nome_cliente)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.cpf_cnpj_cliente)
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.chassi)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.renavam)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.placa)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.valor_divida)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.valor_custas)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.valor_debito_total)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.ano_exercicio)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.valor_pago_total)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.valor_pago_total)
            </td>
        </tr>
    }
</table>

<script>
    //Faz um delay antes de chamar a impressão para não comer o rodapé do layout de opágina com o Logo Safra etc.
    setTimeout(function () {
        window.print();
        window.close();
    }, 1000)
</script>
