@model IEnumerable<CtrlPVALeasing.Models.ContratosVeiculosViewModel>
@{
    ViewBag.Title = "Consultar Veículo";
}
<script>
    function chamaErro2() {
        $(document).ready(function () {
            $("#msgErro2").modal();
        });
    }
    function chamaErro1() {
        $(document).ready(function () {
            $("#msgErro1").modal();
        });
    }
</script>
@using (Html.BeginForm("ConsultaVeiculo", "Consulta"))
{
    var MF = Model.First();
    <div class="jumbotronFundo">

        <h2>CONSULTA DE VEÍCULO</h2>
        <br />
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <th class="busca" width="5%">
                        <b class="fonte-cinza-claro">Chassi:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="limpaNaMarra1" class="input-sm-fino" value="@(Request["chassi"] != null ? Request["chassi"].Trim() : "")" type="text" name="chassi" size="35" maxlength="20" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="5%">
                        <b class="fonte-cinza-claro">Renavam:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="limpaNaMarra2" class="input-sm-fino" value="@(Request["renavam"] != null ? Request["renavam"].Trim() : "")" type="text" name="renavam" maxlength="20" size="35" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="3%">
                        <b class="fonte-cinza-claro">Placa:</b>
                    </th>
                    <th class="busca" width="8%">
                        <input id="limpaNaMarra3" class="input-sm-fino" value="@(Request["placa"] != null ? Request["placa"].Trim() : "")" type="text" name="placa" size="20"  maxlength="9" style="text-transform:uppercase">
                    </th>
                    <th class="busca" width="5%">
                        <div id="fazSubmit"><input class="btn2 btn-primary-pesqui .btn-sm" type="submit" name="busca" value="PESQUISAR" /></div>
                    </th>
                    <th width="1%">
                        <div id="mudaReset"><input class="btn2 btn-primary-limpar btn-sm" type="submit" name="busca" value="LIMPAR" /></div>
                    </th>
                </tr>
                <tr>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                        <a href="~/" class="btn2 btn-primary-menu btn-sm">MENU</a>
                    </th>
                </tr>
            </table>
            <hr />
        </center>

        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO VEÍCULO:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Chassi:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.chassi" type="text" name="chassi" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Marca: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.marca" type="text" name="marca" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano de Fabricação: &nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.ano_fab" type="text" name="ano_fab" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Renavam:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.renavam" type="text" name="renavam" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Modelo: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.modelo" type="text" name="modelo" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano do Modelo: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.ano_mod" type="text" name="ano_mod" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Placa:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.placa" type="text" name="placa" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Tipo: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.tipo_v" type="text" name="versao" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Cor: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.cor" type="text" name="cor" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="6" align="justify">
                                    <div class="fonte-cinza-claro fonte-tamanho-form">
                                        Possui comunicação de venda&nbsp;
                                        <input type="checkbox" name="pcv" @(MF.comVenda != null && MF.comVenda != false ? "checked='checked'" : "" ) disabled="disabled" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Veículo apreendido pelo banco&nbsp;
                                        <input type="checkbox" name="vapb" @(MF.chassi_bens != null && MF.renavam_bens != null && MF.placa_bens != null && MF.chassi_bens != "" && MF.renavam_bens != "" && MF.placa_bens != "" ? "checked='checked'" : "" ) disabled="disabled" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DE DÉBITOS:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data da Última Cobrança:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_cobranca.HasValue ? MF.dta_cobranca.ToString().Substring(0,10) :"")" type="text" name="dta_cobranca" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                @*<td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Valor Total dos Débitos de IPVA: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.valor_debito_total" type="text" id="valor_debito_total" name="valor_debito_total" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>*@
                                <td colspan="0">
                                    @Html.Action("_valor_debito_total_por_veiculo", "", new { chassi = MF.chassi, renavam = MF.renavam, placa = MF.placa })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data da Última Recuperação:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_pagamento.HasValue ? MF.dta_pagamento.ToString().Substring(0,10) : "")" type="text" name="dta_pagamento" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                @*<td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Valor Total das Recuperações de IPVA: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.valor_pago_total" type="text" id="valor_pago_total" name="valor_pago_total" size="30" style="text-transform:uppercase" disabled="disabled" />
                                </td>*@
                                <td colspan="0">
                                    @Html.Action("_valor_total_recuperado_por_veiculo", "", new { chassi = MF.chassi, renavam = MF.renavam, placa = MF.placa })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right">
                                    <div id="Detalhes">
                                        @{
                                            if (MF.contrato != "" && MF.contrato != null)
                                            {
                                                @Html.ActionLink("DETALHES", "ConsultaDebito", new { chassi = @MF.chassi, placa = @MF.placa, renavam = @MF.renavam }, new { @class = "btn3 btn-primary-imp btn-sm" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("DETALHES", "ConsultaDebito", new { chassi = @MF.chassi, placa = @MF.placa, renavam = @MF.renavam }, new { @class = "btn3 btn-primary-imp btn-sm", onclick = "chamaErro1(); return false;" })
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO CONTRATO:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Número do Contrato:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.contrato" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Agência: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.agencia" type="text" name="agencia" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data de Vencimento: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_vecto_contrato.HasValue ? MF.dta_vecto_contrato.ToString().Substring(0,10) : "")" type="text" name="dta_vecto_contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data de início: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_inicio_contrato.HasValue ? MF.dta_vecto_contrato.ToString().Substring(0,10) : "")" type="text" name="dta_inicio_contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Conta: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.conta" type="text" name="conta" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data do Último Pagamento: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.dta_ultimo_pagto.HasValue ? MF.dta_ultimo_pagto.ToString().Substring(0,10) : "")" type="text" name="dta_ultimo_pagto" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Status do Contrato: </div>
                                </td>
                                <td>
                                    @{
                                        var status = "";
                                        if (@MF.status == true)
                                        {
                                            status = "Ativo";
                                        }
                                        else if (@MF.status == false)
                                        {
                                            status = "Liquidado";
                                        }
                                        <input class="input-sm-fino" value="@status" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                    }
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Origem: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.origem" type="text" name="origem" size="1" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Data da Baixa: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@(MF.data_da_baixa.HasValue ? MF.data_da_baixa.ToString().Substring(0,10) : "")" type="text" name="data_da_baixa" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right">
                                    <div id="outrosContratos">
                                        @{
                                            if (MF.contrato != "" && MF.contrato != null)
                                            {
                                                @Html.ActionLink("OUTROS CONTRATOS", "ConsultaCliente", new { cpf_cnpj_cliente = @MF.cpf_cnpj_cliente }, new { @class = "btn3 btn-primary-imp btn-sm" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("OUTROS CONTRATOS", "ConsultaCliente", new { cpf_cnpj_cliente = @MF.cpf_cnpj_cliente }, new { @class = "btn3 btn-primary-imp btn-sm", onclick = "chamaErro2(); return false;" })
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO CLIENTE:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Nome/ Razão social:&nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td colspan="7">
                                    <input class="input-sm-fino" value="@MF.nome_cliente" type="text" maxlength="40" size="79" name="contrato" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">CPF/ CNPJ: </div>
                                </td>
                                <td>
                                    @{
                                        try
                                        {
                                            var resultado = "";
                                            var cpfcnpjsemzeros = "";
                                            if (@MF.cpf_cnpj_cliente != "")
                                            {
                                                cpfcnpjsemzeros = MF.cpf_cnpj_cliente.TrimStart('0').Trim();
                                            }

                                            var p1 = "";
                                            var p2 = "";
                                            var p3 = "";
                                            var p4 = "";
                                            var p5 = "";

                                            if (cpfcnpjsemzeros.Length > 11)
                                            {
                                                if (cpfcnpjsemzeros.Length == 14)
                                                {
                                                    p1 = @cpfcnpjsemzeros.Substring(0, 2);
                                                    p2 = @cpfcnpjsemzeros.Substring(2, 3);
                                                    p3 = @cpfcnpjsemzeros.Substring(5, 3);
                                                    p4 = @cpfcnpjsemzeros.Substring(8, 4);
                                                    p5 = @cpfcnpjsemzeros.Substring(12, 2);
                                                    resultado = p1 + "." + p2 + "." + p3 + "/" + p4 + "-" + p5;
                                                }
                                                else if (cpfcnpjsemzeros.Length == 13)
                                                {
                                                    p1 = @cpfcnpjsemzeros.Substring(0, 1);
                                                    p2 = @cpfcnpjsemzeros.Substring(1, 3);
                                                    p3 = @cpfcnpjsemzeros.Substring(4, 3);
                                                    p4 = @cpfcnpjsemzeros.Substring(7, 4);
                                                    p5 = @cpfcnpjsemzeros.Substring(11, 2);
                                                    resultado = "0" + p1 + "." + p2 + "." + p3 + "/" + p4 + "-" + p5;
                                                }
                                                else if (cpfcnpjsemzeros.Length == 12)
                                                {
                                                    p1 = @cpfcnpjsemzeros.Substring(0, 3);
                                                    p2 = @cpfcnpjsemzeros.Substring(3, 3);
                                                    p3 = @cpfcnpjsemzeros.Substring(6, 4);
                                                    p4 = @cpfcnpjsemzeros.Substring(10, 2);
                                                    resultado = p1 + "." + p2 + "/" + p3 + "-" + p4;
                                                }
                                            }
                                            else if (cpfcnpjsemzeros.Length == 11)
                                            {
                                                p1 = @cpfcnpjsemzeros.Substring(0, 3);
                                                p2 = @cpfcnpjsemzeros.Substring(3, 3);
                                                p3 = @cpfcnpjsemzeros.Substring(6, 3);
                                                p4 = @cpfcnpjsemzeros.Substring(9, 2);

                                                resultado = p1 + "." + p2 + "." + p3 + "-" + p4;
                                            }
                                            else if (cpfcnpjsemzeros.Length < 11)
                                            {
                                                for (int i = 0; i <= cpfcnpjsemzeros.Length; i += 3)
                                                {
                                                    if (i < (cpfcnpjsemzeros.Length - 3))
                                                    {
                                                        resultado += cpfcnpjsemzeros.Substring(i, 3) + ".";
                                                    }
                                                    else
                                                    {
                                                        resultado += cpfcnpjsemzeros.Substring(i, cpfcnpjsemzeros.Length - i);
                                                    }

                                                    if (cpfcnpjsemzeros.Length < 4)
                                                    {
                                                        resultado = cpfcnpjsemzeros;
                                                    }
                                                }
                                            }
                                            <input class="input-sm-fino" value="@resultado" type="text" name="contrato" size="30" style="text-transform:uppercase" disabled="disabled" />
                                        }
                                        catch
                                        {
                                            <input class="input-sm-fino" value="@MF.cpf_cnpj_cliente" type="text" name="contrato" size="30" style="text-transform:uppercase" disabled="disabled" />
                                        }
                                    }
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Telefone Com.: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    @{
                                        try
                                        {
                                            var FoneSemZerosCom = "";
                                            var dddCom = MF.ddd_cliente_cml;
                                            var pa1 = "";
                                            var pa2 = "";

                                            if (@MF.fone_cliente_cml != "")
                                            {
                                                FoneSemZerosCom = MF.fone_cliente_cml.TrimStart('0').Trim();

                                                if (FoneSemZerosCom.Length < 5)
                                                {
                                                    pa1 = FoneSemZerosCom;
                                                }

                                                if (FoneSemZerosCom.Length > 4)
                                                {
                                                    pa1 = FoneSemZerosCom.Substring(0, 4);
                                                    pa2 = FoneSemZerosCom.Substring(4, FoneSemZerosCom.Length - 4);
                                                }
                                            }
                                            FoneSemZerosCom = "(" + dddCom.Trim().Replace("0", "").Replace(" ", "") + ")" + " " + pa1 + "-" + pa2;
                                            <input class="input-sm-fino" value="@FoneSemZerosCom" type="text" name="cliente" size="25" style="text-transform:uppercase" disabled="disabled" />
                                        }
                                        catch
                                        {
                                            <input class="input-sm-fino" value="@MF.ddd_cliente_cml @MF.fone_cliente_cml" type="text" name="cliente" size="25" style="text-transform:uppercase" disabled="disabled" />
                                        }
                                    }
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Telefone Particular.: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    @{
                                        try
                                        {
                                            var FoneSemZerosPart = "";
                                            var dddPart = MF.ddd_cliente_particular;
                                            var pa1 = "";
                                            var pa2 = "";

                                            if (@MF.fone_cliente_particular != "")
                                            {
                                                FoneSemZerosPart = MF.fone_cliente_particular.TrimStart('0').Trim();

                                                if (FoneSemZerosPart.Length < 5)
                                                {
                                                    pa1 = FoneSemZerosPart;
                                                }

                                                if (FoneSemZerosPart.Length > 4)
                                                {
                                                    pa1 = FoneSemZerosPart.Substring(0, 4);
                                                    pa2 = FoneSemZerosPart.Substring(4, FoneSemZerosPart.Length - 4);
                                                }
                                            }
                                            FoneSemZerosPart = "(" + dddPart.Trim().Replace("0", "").Replace(" ", "") + ")" + " " + pa1 + "-" + pa2;
                                            <input class="input-sm-fino" value="@FoneSemZerosPart" type="text" name="cliente" size="25" style="text-transform:uppercase" disabled="disabled" />
                                        }
                                        catch
                                        {
                                            <input class="input-sm-fino" value="@MF.ddd_cliente_particular @MF.fone_cliente_particular" type="text" name="cliente" size="25" style="text-transform:uppercase" disabled="disabled" />
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Endereço: </div>
                                </td>
                                <td colspan="4">
                                    <input class="input-sm-fino" value="@MF.end_cliente" type="text" name="contrato" maxlength="40" size="79" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Bairro: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.bairro_cliente" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Cidade: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.cidade_cliente" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Estado: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.uf_cliente" type="text" name="contrato" size="3" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">CEP: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@MF.cep_cliente" type="text" name="contrato" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Marcas: </div>
                                </td>
                                <td colspan="7">
                                    <input class="input-sm-fino" value="@MF.CCL_marca" type="text" name="ccl_marca" size="25" style="text-transform:uppercase" disabled="disabled" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>

    </div>

    //Erro de veículo não encontrado
    if (MF.id == -1)
    {
        <script>
        try{
            $(document).ready(function () {
                $("#msgErro1").modal();
            });
        }
        catch(e)
        {
            alert(e);
        }
    </script>
    }
}

@section Scripts{
<script>
    //Limpa o campo contrato mesmo que ele tenha sito recuperado pelo request.
    try {
        $("#mudaReset").click(function () {
            document.getElementById("limpaNaMarra1").setAttribute("value", "");
            document.getElementById("limpaNaMarra2").setAttribute("value", "");
            document.getElementById("limpaNaMarra3").setAttribute("value", "");
            document.getElementById("ConsultaVeiculo").submit();
        });
    }
    catch (e) {
        alert(e);
    }

    try {
            document.getElementById("limpaNaMarra1").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if ("1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                    return false;
        }
            document.getElementById("limpaNaMarra2").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if ("1234567890".indexOf(chr) < 0)
                    return false;
        }
            document.getElementById("limpaNaMarra3").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if ("1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                    return false;
        }
    }
    catch (e) {
        alert(e);
    }

    $("#valor_debito_total").inputmask('decimal', {
        radixPoint: ",",
        groupSeparator: ".",
        autoGroup: true,
        digits: 2,
        digitsOptional: false,
        placeholder: '0',
        rightAlign: false,
        autoUnmask: true,
        onBeforeMask: function (value, opts) {
            return value;
        }
    });

    $("#valor_pago_total").inputmask('decimal', {
        radixPoint: ",",
        groupSeparator: ".",
        autoGroup: true,
        digits: 2,
        digitsOptional: false,
        placeholder: '0',
        rightAlign: false,
        autoUnmask: true,
        onBeforeMask: function (value, opts) {
            return value;
        }
    });

    $("#_valor_debito_total_por_veiculo").inputmask('decimal', {
        radixPoint: ",",
        groupSeparator: ".",
        autoGroup: true,
        digits: 2,
        digitsOptional: false,
        placeholder: '0',
        rightAlign: false,
        autoUnmask: true,
        onBeforeMask: function (value, opts) {
            return value;
        }
    });

    $("#_valor_total_recuperado_por_veiculo").inputmask('decimal', {
        radixPoint: ",",
        groupSeparator: ".",
        autoGroup: true,
        digits: 2,
        digitsOptional: false,
        placeholder: '0',
        rightAlign: false,
        autoUnmask: true,
        onBeforeMask: function (value, opts) {
            return value;
        }
    });
</script>
}

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro1" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>CONSULTA DE VEÍCULO</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Veículo não encontrado!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgErro2" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>CONSULTA DE VEÍCULO</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">Contrato não encontrado!</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>