@model CtrlPVALeasing.Models.Tbl_DebitosEPagamentos_Veiculo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_DebitosEPagamentos_Veiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chassi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chassi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.renavam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.renavam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dta_cobranca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dta_cobranca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uf_cobranca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uf_cobranca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_cobranca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_cobranca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_divida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_divida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano_exercicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano_exercicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_custas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_custas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debito_protesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debito_protesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_cartorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_cartorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.divida_ativa_serasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.divida_ativa_serasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.protesto_serasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.protesto_serasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_debito_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_debito_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagamento_efet_banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagamento_efet_banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dta_pagamento_divida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dta_pagamento_divida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uf_pagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uf_pagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.forma_pagamento_divida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forma_pagamento_divida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.forma_pagamento_custas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forma_pagamento_custas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_pago_divida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_pago_divida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_miro_divida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_miro_divida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_miro_custa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_miro_custa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs_pagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_pagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_pago_custas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_pago_custas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_pago_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_pago_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_recuperado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_recuperado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_total_recuperado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_total_recuperado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dta_pagamento_custas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dta_pagamento_custas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dta_recuperacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dta_recuperacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pci_debito_divida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pci_debito_divida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pci_debito_custa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pci_debito_custa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pci_credito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pci_credito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupo_safra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupo_safra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
