@model CtrlPVALeasing.Models.Arm_Veiculos
@{
    ViewBag.Title = "Registro de Ceículo";
}

@*<script>
function chamaErro() {
    $(document).ready(function () {
        $("#msgErro").modal();
    });
}
</script>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotronFundo">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="busca" width="90%">
                        <h2>REGISTRO DE VEÍCULO</h2>
                    </td>
                    <td align="right" width="9%">
                        <div id="mudaReset"><input class="btn2 btn-primary-limpar btn-sm" type="reset" name="limpar" value="LIMPAR" /></div>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <a href="~/" class="btn2 btn-primary-menu btn-sm">MENU</a>
                    </td>
                </tr>
            </table>
            <hr />
        </center>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <center>
            <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-style:inherit">
                <tr>
                    <td>
                        <b class="fonte-cinza-escuro">DADOS DO VEÍCULO:</b>
                        <table border="0" style="border-style:inherit">
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Chassi: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["chassi"]" type="text" name="chassi" id="chassi" size="25" maxlength="20" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Renavam: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["renavam"]" type="text" name="renavam" id="renavam" size="25" maxlength="20"  style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Placa: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["placa"]" type="text" name="placa" id="placa" size="15" maxlength="9" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Número do Contrato: </div>
                                </td>
                                <td>
                                    @*<input class="input-sm-fino" value="@MF.contrato" type="text" name="contrato" size="25" style="text-transform:uppercase" />*@
                                    @Html.EditorFor(model => model.contrato, new { htmlAttributes = new { @class = "input-sm-fino", size = "25", maxlength = "9", id = "numerocontrato" } })
                                    @*@Html.ValidationMessageFor(model => model.contrato, "", new { @class = "text-danger" })*@
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Tipo Registro: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["tipo_registro"]" type="text" name="tipo_registro" id="tipo_registro" size="10" maxlength="4" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Marca: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["marca"]" type="text" name="marca" id="marca" size="25" maxlength="20" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Modelo: </div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["modelo"]" type="text" name="modelo" id="modelo" size="25" smaxlength="20" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Tipo: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["tipo"]" type="text" name="tipo" id="tipo" size="25" maxlength="20" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano de Fabricação: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["ano_fab"]" type="text" name="ano_fab" id="ano_fab" size="10" maxlength="4" style="text-transform:uppercase" />
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Ano do Modelo: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["ano_mod"]" type="text" name="ano_mod" id="ano_mod" size="10" maxlength="4" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="fonte-cinza-claro fonte-tamanho-form">Cor: &nbsp;&nbsp;&nbsp;</div>
                                </td>
                                <td>
                                    <input class="input-sm-fino" value="@Request["cor"]" type="text" name="cor" id="cor" size="10" maxlength="10" style="text-transform:uppercase" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <td></td>
                                <td></td>
                                <td align="right">
                                    <div>
                                        <input type="submit" value="INCLUIR" class="btn3 btn-primary-imp btn-sm" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br />
    </div>

    //Erro de contrato não encontrado
    @*if (MF.id == -1)
        {
        <script>
            try
            {
                $(document).ready(function() {
                    $("#msgErro").modal();
                });
            }
            catch (e)
            {
                alert(e);
            }
        </script>
        }*@
    }
@if (ViewBag.Message != null)
{
    @*<script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
            $("#msgOk").modal();
        </script>*@
    <script>
        try {
            $(document).ready(function () {
                $("#msgOk").modal();
            });
        }
        catch (e) {
            alert(e);
        }
    </script>
}
<!-- O section Scripts é necessário para funcionar algumas mascaras -->
@section Scripts {
    <script>

        try {
            $("#mudaReset").click(function () {
                document.getElementById("numerocontrato").setAttribute("value", "");
                document.getElementById("chassi").setAttribute("value", "");
                document.getElementById("renavam").setAttribute("value", "");
                document.getElementById("placa").setAttribute("value", "");
                document.getElementById("tipo_registro").setAttribute("value", "");
                document.getElementById("marca").setAttribute("value", "");
                document.getElementById("modelo").setAttribute("value", "");
                document.getElementById("tipo").setAttribute("value", "");
                document.getElementById("ano_fab").setAttribute("value", "");
                document.getElementById("ano_mod").setAttribute("value", "");
                document.getElementById("cor").setAttribute("value", "");
                //document.getElementById("ConsultaContrato").submit();
            });
        }
        catch (e) {
            alert(e);
        }

        try {
            document.getElementById("numerocontrato").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if ("1234567890".indexOf(chr) < 0)
                    return false;
            }
            document.getElementById("chassi").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if ("1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                    return false;
            }
            document.getElementById("renavam").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if ("1234567890".indexOf(chr) < 0)
                    return false;
            }
            document.getElementById("placa").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if ("1234567890".indexOf(chr) < 0)
                    return false;
            }
            document.getElementById("tipo_registro").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if ("1234567890".indexOf(chr) < 0)
                    return false;
            }
            document.getElementById("marca").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if (" 1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                    return false;
            }
            document.getElementById("modelo").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if (" 1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                    return false;
            }
            document.getElementById("tipo").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if (" 1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                    return false;
            }
            document.getElementById("ano_fab").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if ("1234567890".indexOf(chr) < 0)
                    return false;
            }
            document.getElementById("ano_mod").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if ("1234567890".indexOf(chr) < 0)
                    return false;
            }
            document.getElementById("cor").onkeypress = function (e) {
                var chr = String.fromCharCode(e.which);
                if (" 1234567890qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM".indexOf(chr) < 0)
                    return false;
            }
        }
        catch (e) {
            alert(e);
        }

    </script>
}
<div class="modal fade modal-sm" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="msgOk" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <header class="modal-header modal-sm">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <center><h4 class="modal-title modal-sm" id="mySmallModalLabel" style="color:rgb(7, 44, 85)"><b>REGISTRO DE CONTRATO</b></h4></center>
            </header>
            <div class="modal-body modal-sm">
                <table width="100%">
                    <tr>
                        <td><center><h4 style="color: rgb(176, 172, 186)">@ViewBag.Message</h4></center></td>
                    </tr>
                    <tr>
                        <td align="right"><button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>





